<section id="intro" class="intro-section">
<div class="bwp-container">
    <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>


    <div id="projects" class="bwp-row">
    <div class="bwp-heading">
        <h2 class="bwp-heading text-center">NOW OFFERING</h2>
        <div class="bwp-line center margin-bottom-40"></div>
    </div>
    <!-- INFINITY CANOPY -->
    <div class="bwp-col-6 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <a href="https://www.infinitycanopy.com"><img style="max-width: 60%;" src="assets/img/products/infinite-canopy-system/infinity-logo-transparent.png" alt="image" /></a>
        </div>
        {# <h3>INFINITY CANOPY</h3> #}
        {# <p>Some would say that a business is only as good as the commercial awnings that adorn that business' offices or manufacturing
            facilities. Those people probably work at Sunset Canvas &amp; Awning but it's possible we're a little biased.</p>

        <p>Sunset Canvas &amp; Awning works with your architect closely to ensure a eye catching Awning design.</p> #}
        {# <a class="bwp-button primary small" href="commercial-awnings.html" target="_blank">Learn More</a> #}
        </div>

        <div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
    </div>


    <!-- ARCADIA LOUVERED SHADING SYSTEM -->
    <div class="bwp-col-6 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <a href="http://struxure.com/product/pergolas"><img style="max-width: 85%;" src="assets/img/products/arcadia-louvered-shading-system/arcadia-logo.png" alt="image" /></a>
        </div>
        {# <h3>ARCADIA LOUVERED SHADING SYSTEM</h3> #}
        {# <p>Add that extra accent to your home with striking awnings!</p>

        <p>Residential awnings for your home can transform a simple window from an essential, if lackluster, aspect of home
            design to an integral part of your home's decor that adds elegance and visual impact to the overall look.</p> #}
        {# <br> #}
        {# <a class="bwp-button primary small" href="residential-awnings.html" target="_blank">Learn More</a> #}
        </div>

        <div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
    </div>
    </div><!-- ./row -->

    {# <div class="bwp-spacer" data-desktop="100" data-mobi="70" data-smobi="40"></div> #}

    <!--<div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>-->
</div>
</section>