<section id="main-slider">
            <div id="rev-slider1">
                <ul>



<!-- Infinity Canopy & Arcadia Louvered Shading System -->
                {# <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/commercialupsstore.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="206" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            NOW OFFERING: 
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="286"
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                          <img src="/assets/img/infinity-logo-transparent-white.png">
                          <img src="/assets/img/arcadia-logo-transparent-white.png">

                            
                        </div>

                    </li> #}
                





<!-- COMMERCIAL - CITIBANK-->
                    <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/commercialcitibank.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                            data-x="left" data-hoffset="10" 
                            data-y="top" data-voffset="174" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            COMMERCIAL &amp; <br>NEW CONSTRUCTION 
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-white" 
                            data-x="left" data-hoffset="10" 
                            data-y="top" data-voffset="317"
                            63" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                            Whether you're a General Contractor doing a tenant improvement 
                            <br>
                            or abusiness owner who desires to open a new location and wants 
                            <br>
                            to be seen, we can work with you to get your name out on the street.
                        </div>
                        <!--<div class="tp-caption sfb tp-resizeme" 
                            data-x="left" data-hoffset="10" 
                            data-y="top" data-voffset="415" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2100">
                            <a href="page-services.html" class="bwp-button sunset">Our Services</a>
                        </div>
                        <div class="tp-caption sfb tp-resizeme" 
                            data-x="left" data-hoffset="227" 
                            data-y="top" data-voffset="415" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2400">
                            <a href="#contact" class="bwp-button sunset">Get a Quote</a>
                        </div>-->
                    </li>



<!--COMMERCIAL - MENS WAREHOUSE -->
                    <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/commercialmenswarehouse.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb tp-resizeme heading1 text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="206" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            COMMERCIAL &amp; <br> RESIDENTIAL RECOVERS 
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-margin-top text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="286"
                            63" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                            If you have an existing awning frame and would like to recover it in
                            <br>
                            new fabric please contact us, we can breath new life into your project 
                            <br>
                            transforming your storefront or residence to its original luster or we
                            <br>
                            can work with to change the whole appearance.
                        </div>

                        <!--<div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="-95" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2100">
                            <a href="#about" class="bwp-button sunset">About Us</a>
                        </div>
                        <div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="94" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2400">
                            <a href="#contact" class="bwp-button sunset">Contact Us</a>
                        </div>-->
                    </li>






<!-- COMMERCIAL - UPS STORE -->
                <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/commercialupsstore.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="206" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            COMMERCIAL BRANDING
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="286"
                            63" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                            Let our full service graphics team members offer a 
                            <br>
                            seamless transition from quotation to project completion. 
                            <br>
                            Bringing you and your clients a simple solution to a 
                            <br>
                            sometimes difficult and confusing process.
                        </div>

                    </li>
                    





                    
<!-- RESIDENTIAL - ORANGE AWNINGS -->
                    <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/residentialorangeawnings.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="206" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            CUSTOM RESIDENTIAL PROJECTS
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="286"
                            63" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                            We have no preconceived notion of what you believe the prefect awning
                            <br>
                            looks like but together with our sample gallery and fabric selection samples
                            <br>
                            we can collaborate to make you're a dream project a reality.
                        </div>

                        <!--<div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="-95" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2100">
                            <a href="#about" class="bwp-button sunset">About Us</a>
                        </div>
                        <div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="94" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2400">
                            <a href="page-contact.html" class="bwp-button sunset">Contact Us</a>
                        </div>-->
                    </li>
                    
<!-- RESIDENTIAL - RETRACTABLE SOLAR SCREENS -->
                    <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/residentialretractsolarscreens.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="206" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            RETRACTABLE AWNINGS &amp; <br>
                            SOLAR SCREEN PRODUCTS 
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-margin-top text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="286"
                            63" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                            We have varied array of retractable awning and solar screen product to help
                            <br>
                            you beet the sun. To add additional footage to a sun beaten back patio or to
                            <br>
                            block sunlight to entering a window or a patio sliding glass door, we have a
                            <br>
                            affordable solution in mind just for you.
                        </div>

                        <!--<div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="-95" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2100">
                            <a href="#about" class="bwp-button sunset">About Us</a>
                        </div>
                        <div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="94" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2400">
                            <a href="page-contact.html" class="bwp-button sunset">Contact Us</a>
                        </div>-->
                    </li>


<!-- SACRAMENTO -->
                    <li data-transition="parallaxvertical">
                            <img src="assets/img/slider/eastbaymap.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    
                            <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                                data-x="center" data-hoffset="0" 
                                data-y="top" data-voffset="206" 
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;" 
                                data-transform_in="o:0" 
                                data-transform_out="o:0" 
                                data-start="1500">
                                NOW SERVING SACRAMENTO
                            </div>
                            <div class="tp-caption sfb tp-resizeme text1 text-white text-center" 
                                data-x="center" data-hoffset="0" 
                                data-y="top" data-voffset="286"
                                63" 
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;" 
                                data-transform_in="o:0" 
                                data-transform_out="o:0" 
                                data-start="1800">
                                Roseville, Elkhorn, Rocklin, &amp; Rancho Cordova

                            </div>
                    
                            <!--<div class="tp-caption sfb tp-resizeme" 
                                data-x="center" data-hoffset="-95" 
                                data-y="top" data-voffset="385" 
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;" 
                                data-transform_in="o:0" 
                                data-transform_out="o:0" 
                                data-start="2100">
                                <a href="#about" class="bwp-button sunset">About Us</a>
                            </div>
                            <div class="tp-caption sfb tp-resizeme" 
                                data-x="center" data-hoffset="94" 
                                data-y="top" data-voffset="385" 
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;" 
                                data-transform_in="o:0" 
                                data-transform_out="o:0" 
                                data-start="2400">
                                <a href="page-contact.html" class="bwp-button sunset">Contact Us</a>
                            </div>-->
                        </li>
                    
                    
<!-- EAST BAY -->
                    <li data-transition="parallaxvertical">
                            <img src="assets/img/slider/eastbaymap.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    
                            <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                                data-x="center" data-hoffset="0" 
                                data-y="top" data-voffset="206" 
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;" 
                                data-transform_in="o:0" 
                                data-transform_out="o:0" 
                                data-start="1500">
                                EAST BAY
                            </div>
                            <div class="tp-caption sfb tp-resizeme text1 text-white text-center" 
                                data-x="center" data-hoffset="0" 
                                data-y="top" data-voffset="286"
                                63" 
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;" 
                                data-transform_in="o:0" 
                                data-transform_out="o:0" 
                                data-start="1800">
                                Piedmont, Orinda, Moraga, Lafayette, Oakland Montclair, Hayward,  
                                <br>
                                Fremont, Danville, Dublin, San Ramon, Alamo, &amp; Black Hawk
                            </div>
                    
                            <!--<div class="tp-caption sfb tp-resizeme" 
                                data-x="center" data-hoffset="-95" 
                                data-y="top" data-voffset="385" 
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;" 
                                data-transform_in="o:0" 
                                data-transform_out="o:0" 
                                data-start="2100">
                                <a href="#about" class="bwp-button sunset">About Us</a>
                            </div>
                            <div class="tp-caption sfb tp-resizeme" 
                                data-x="center" data-hoffset="94" 
                                data-y="top" data-voffset="385" 
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;" 
                                data-transform_in="o:0" 
                                data-transform_out="o:0" 
                                data-start="2400">
                                <a href="page-contact.html" class="bwp-button sunset">Contact Us</a>
                            </div>-->
                        </li>
                    
                    
                    
                        
<!-- PENINSULA -->
                <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/peninsula.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                
                        <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="206" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            THE PENINSULA
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="286"
                            63" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                            Including Redwood City, Menlo Park, Palo Alto, Atherton, Portola, &amp; San Mateo
                        </div>
                
                        <!--<div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="-95" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2100">
                            <a href="#about" class="bwp-button sunset">About Us</a>
                        </div>
                        <div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="94" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2400">
                            <a href="page-contact.html" class="bwp-button sunset">Contact Us</a>
                        </div>-->
                    </li>


               
                    
<!-- SPEAR POINT -->
                    <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/spearpoint.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="206" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            CUSTOM SPEAR POINT &amp; <br>
                            BALL POINT AWNINGS
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-margin-top text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="286"
                            63" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                            The timeless beauty of this custom type of awning creates a sophisticated
                            <br>
                            design to complement your home or business architecture. Spear point
                            <br>
                            awnings add a European elegance to any area but also creates a nice
                            <br>
                            shaded area to entertain guest. Many historic and art districts in California
                            <br>
                            prefer the old world style of a spear point awning.
                        </div>

                        <!--<div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="-95" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2100">
                            <a href="#about" class="bwp-button sunset">About Us</a>
                        </div>
                        <div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="94" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2400">
                            <a href="page-contact.html" class="bwp-button sunset">Contact Us</a>
                        </div>-->
                    </li>
               
<!-- FIXED CANOPY -->
                    <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/fixedcanopy.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="206" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            CUSTOM POOL SIDE CABANAS
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="286"
                            63" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                            Distinctive design, use of color and maximum comfort are hallmarks of
                            <br>
                            Sunset Canvas &amp; Awning. These incredible cabanas transform any outdoor
                            <br>
                            space into an intimate dining or lounging experience. You can enjoy your
                            <br>
                            cabana day and night for years to come.
                        </div>

                        <!--<div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="-95" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2100">
                            <a href="#about" class="bwp-button sunset">About Us</a>
                        </div>
                        <div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="94" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2400">
                            <a href="page-contact.html" class="bwp-button sunset">Contact Us</a>
                        </div>-->
                    </li>
                
<!-- FIXED CANOPY 2 -->
                    <li data-transition="parallaxvertical">
                        <img src="assets/img/slider/fixedcanopy2.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb tp-resizeme heading1 text-white" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="206" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1500">
                            CUSTOM FABRIC CANOPIES
                        </div>
                        <div class="tp-caption sfb tp-resizeme text1 text-white text-center" 
                            data-x="center" data-hoffset="0" 
                            data-y="top" data-voffset="286"
                            63" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="1800">
                           Sunset Canvas &amp; Awning, is a leader in fabricating quality custom canopies,
                            <br>
                            pool side cabanas. We make custom, durable products made to your
                            <br>
                            specifications at a reasonable price. Including fully functional privacy curtains
                            <br>
                            and screens
                        </div>
                        <!--<div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="-95" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2100">
                            <a href="#about" class="bwp-button sunset">About Us</a>
                        </div>
                        <div class="tp-caption sfb tp-resizeme" 
                            data-x="center" data-hoffset="94" 
                            data-y="top" data-voffset="385" 
                            data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="o:0" 
                            data-transform_out="o:0" 
                            data-start="2400">
                            <a href="page-contact.html" class="bwp-button sunset">Contact Us</a>
                        </div>-->
                    </li>

                </ul>

                <div class="tp-bannertimer"></div>
            </div>
        </section>