<style>
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  img {
    width: 100%;
    height: auto;
    padding: 5px;
  }

  h2 {
    text-align: center;
    padding-bottom: 1em;
  }

  /* .slick-dots {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
  }
  .slick-dots li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
  }
  .slick-dots li.slick-active button {
    background-color: black;
  }
  .slick-dots li button {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: #999;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .slick-dots li :hover {
    background-color: black;
  } */

  /* Custom Arrow */
  /* .prev {
    color: #999;
    position: absolute;
    top: 38%;
    left: -2em;
    font-size: 1.5em;
  }
  .prev :hover {
    cursor: pointer;
    color: black;
  }

  .next {
    color: #999;
    position: absolute;
    top: 38%;
    right: -2em;
    font-size: 1.5em;
  }
  .next :hover {
    cursor: pointer;
    color: black;
  }

  @media screen and (max-width: 800px) {
    .next {
      display: none !important;
    }
  } */
</style>

<div id="shade-fabrics" class="bwp-container">
  <div class="bwp-row">
    <div class="bwp-col-12 col">
      <div class="bwp-heading">
        <h2 class="bwp-heading text-center">VENDORS</h2>
        <div class="bwp-line center margin-bottom-40"></div>
      </div>
      <div class="heroSlider-fixed">
        <div class="overlay"></div>
        <!-- Slider -->
        <div class="slider responsive">
          <div>
            <a href="infinity-canopy-system.html">
              <img
                style="width: 80%;"
                src="assets/img/products/infinite-canopy-system/infinity-logo-transparent.png"
                alt=""
              />
            </a>
          </div>
          <div>
            <a href="arcadia-louvered-pergola.html">
              <img
                src="assets/img/products/arcadia-louvered-shading-system/arcadia-logo.png"
                alt=""
              />
            </a>
          </div>
        </div>
        <!-- control arrows -->
        <!-- <div class="prev">
          <span
            class="glyphicon glyphicon-chevron-left"
            aria-hidden="true"
          ></span>
        </div>
        <div class="next">
          <span
            class="glyphicon glyphicon-chevron-right"
            aria-hidden="true"
          ></span>
        </div> -->
      </div>

      <div
        class="bwp-spacer"
        data-desktop="0"
        data-mobi="30"
        data-smobi="30"
      ></div>
    </div>
  </div>
</div>
