<div id="shade-fabrics" class="bwp-container">
    <div class="bwp-row">

        <div class="bwp-col-12 col">
            <div class="bwp-heading">
                <h2 class="bwp-heading text-center">SHADE FABRICS</h2>
                <div class="bwp-line center margin-bottom-40"></div>
            </div>
        </div>

        <div class="bwp-col-6 col">
            <img style="height: 400px; width: 400px;" class="lazy-image" data-src="assets/img/sunbrella-logo.jpg">
        </div>
        <div class="bwp-col-6 col">
            <p><strong>Design wide open.</strong> Seeing an outdoor space for what it can be means taking inspiration from the scene around it. Pick up on color cues to create seamless transitions from home to horizon. And seasonal changes may beg for some refreshing twists.</p>
        
            <p>See our Custom<a href="https://www.sunbrella.com/en-us/fabrics/shade/collections/210/2017-2018-sunbrella-shade-collection?=%2Fen-us%2Ffabrics%2Fshade%2Fcollections%2F210%2F2017-2018-sunbrella-shade-collection&pattern=solids&color=&=" target="_blank"> Solid </a> Fabric Selections exclusive to Sunset Canvas Awning!</p>
            
            <p>See our Custom<a href="https://www.sunbrella.com/en-us/fabrics/shade/collections/210/2017-2018-sunbrella-shade-collection?=%2Fen-us%2Ffabrics%2Fshade%2Fcollections%2F210%2F2017-2018-sunbrella-shade-collection&pattern=stripes&color=&=" target="_blank"> Striped </a> Fabric Selections exclusive to Sunset Canvas Awning!</p>

            <p><strong>Style the shade to enhance and romance.</strong> Shade is sunlight’s creative complement and using it to stylish effect means choosing just the right shade solution. Whether you choose to design using a fixed or retractable awning, pergola, shade sail, roller shade or umbrella, you’ll artfully expand your living space and create a functional transition between indoors and out.</p>

            <p>View <a href="assets/assets/sunbrella-shade-fabric-book-2015-2016.pdf" target="_blank">Sunbrella 2015 - 2016 Shade Fabrics PDF Book</a></p>

        </div>
    </div>
</div>