<section id="intro" class="intro-section">
<div class="bwp-container">
    <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>

    <div id="projects" class="bwp-row">
    <div class="bwp-heading">
        <h2 class="bwp-heading text-center">PROJECTS</h2>
        <div class="bwp-line center margin-bottom-40"></div>
    </div>
    <!-- PROJECTS - COMMERCIAL AWNINGS -->
    <div class="bwp-col-6 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/projects/services/services-commercial-awning.jpg" alt="image" />
        </div>
        <h3>COMMERCIAL AWNINGS</h3>
        <p>Some would say that a business is only as good as the commercial awnings that adorn that business' offices or manufacturing
            facilities. Those people probably work at Sunset Canvas &amp; Awning but it's possible we're a little biased.</p>

        <p>Sunset Canvas &amp; Awning works with your architect closely to ensure a eye catching Awning design.</p>
        <a class="bwp-button primary small" href="commercial-awnings.html">View Details</a>
        </div>

        <div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
    </div>


    <!-- PROJECTS - RESIDENTIAL AWNINGS -->
    <div class="bwp-col-6 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/projects/services/services-residential-awning.jpg" alt="image" />
        </div>
        <h3>RESIDENTIAL AWNINGS</h3>
        <p>Add that extra accent to your home with striking awnings!</p>

        <p>Residential awnings for your home can transform a simple window from an essential, if lackluster, aspect of home
            design to an integral part of your home's decor that adds elegance and visual impact to the overall look.</p>
        <br>
        <a class="bwp-button primary small" href="residential-awnings.html">View Details</a>
        </div>

        <div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
    </div>
    </div><!-- ./row -->



    <div class="bwp-spacer" data-desktop="100" data-mobi="70" data-smobi="40"></div>




    <div id="products" class="bwp-row">

    <div class="bwp-col-12 col">
        <div class="bwp-heading">
        <h2 id="products-section" class="bwp-heading text-center">PRODUCTS</h2>
        <div class="bwp-line center margin-bottom-40"></div>
        </div>
    </div>


    <!-- PRODUCTS - FIXED AWNING -->
    <div class="bwp-col-4 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/products/services/services-fixed-awings.jpg" alt="image" />
        </div>
        <h3>FIXED AWNINGS</h3>
        <p>A fixed awning is perfect solution for any window, door, deck, patio or balcony where protection from the sun and
            rain is desired.</p>

        <p>Fixed frame awnings can be fabricated into many shapes and sizes to create a custom look for your home or business.</p>
        <br>
        <br>
        <br>
        <a class="bwp-button primary small" href="fixed-awnings.html">View Details</a>
        </div>
        <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
    </div>


    <!-- PRODUCTS - FREE-STANDING CANOPIES/CANABANAS -->
    <div class="bwp-col-4 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/products/services/services-fixed-canopies.jpg" alt="image" />
        </div>
        <h3>FREE-STANDING CANOPIES/CABANAS</h3>
        <p>
            <i>Sunset Canvas &amp; Awning</i> is known for creating eye catching residential or commercial patio and pool side
            canopies and cabanas.</p>
        <p>Whether you’re remodeling your home or backyard with a new canopy or cabana from Sunset Canvas &amp; Awning. </p>
        <br>
        <br>
        <a class="bwp-button primary small" href="free-standing-canopies.html">View Details</a>
        </div>
        <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
    </div>


    <!-- PRODUCTS - RETRACTABLE PATIOS -->
    <div class="bwp-col-4 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/products/services/services-retractable-patios.jpg" alt="image" />
        </div>
        <h3>RETRACTABLE PATIOS</h3>

        <p>Sometimes you feel like some sun, sometimes you don’t. </p>

        <p>A retractable awning provides all the same advantages of a traditional awning, but it also gives you the option
            of choosing if and when you want to use it. </p>

        <p>This makes it great for sudden afternoon showers or the sweltering summer sun, which are so common here in the
            Bay Area.</p>



        <a class="bwp-button primary small" href="retractable-patios.html">View Details</a>
        </div>
        <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
    </div>



    <!-- PRODUCTS - RETRACTABLE WINDOWS -->
    <div class="bwp-col-4 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/products/services/services-retractable-windows.jpg" alt="image" />
        </div>
        <h3>RETRACTABLE WINDOWS</h3>
        <p>A retractable window awning from is the recommended solution for complete solar control and privacy in your home.
            </p>

        <p>The awnings can be lowered to any position to provide as little or as much sunlight as you want. With traditional
            awning flair, this modern mechanism is easy to operate, and eliminates seasonal removal and storage. </p>
        <a class="bwp-button primary small" href="retractable-windows.html">View Details</a>
        </div>
        <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
    </div>


    <!-- PRODUCTS - SHADE SAILS -->
    <div class="bwp-col-4 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/products/services/services-shade-sails.jpg" alt="image" />
        </div>
        <h3>SHADE SAILS</h3>
        <p>Shade sails or commonly referred to as tension structure are heavy-duty fabrics that filter out certain amounts
            of sun, depending on the specific use of the area to be shaded. </p>

        <p>Energy saving and environmental protection, making a restful, shady spot and unique vibrant style in your outdoor
            living areas. </p>

        <a class="bwp-button primary small" href="shade-sails.html">View Details</a>
        </div>
        <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
    </div>


    <!-- PRODUCTS - SOLAR SCREEN SHADES -->
    <div class="bwp-col-4 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/products/services/services-solar-screen-shade.jpg" alt="image" />
        </div>
        <h3>SOLAR SCREEN SHADES</h3>
        <p>Exterior screens are multifunctional and retractable for use when you desire privacy and sun or insect screen protection.
            </p>

        <p>Combining pleasing aesthetics with advanced technology to increase the privacy of your home and create a comfortable,
            beautiful living environment. </p>
        <a class="bwp-button primary small" href="solar-screen-shades.html">View Details</a>
        </div>
    </div>
    <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
    </div><!-- ./row -->



    <div class="bwp-row">
    <!-- PRODUCTS -  BACKLIT AWNING-->
    <div class="bwp-col-4 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/products/services/services-backlit-awning.jpg" alt="image" />
        </div>
        <h3>BACK-LIT AWNINGS</h3>
        <p>Backlit awnings combine the charm and flexibility of fabric with the high visibility of a sign, providing round
            the clock identification to storefronts, shopping malls, theaters, restaurants, hotels, anywhere you want to
            attract public attention. </p>

        <p>Backlit awnings can be designed to accentuate any building, outside or inside. </p>
        <a class="bwp-button primary small" href="backlit-awnings.html">View Details</a>
        </div>
        <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
    </div>


    <!-- PRODUCTS - SPEAR POINT &amp; BALL POINT -->
    <div class="bwp-col-4 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/products/services/services-spear-point.jpg" alt="image" />
        </div>
        <h3>SPEAR POINT &amp; BALL POINT</h3>
        <p>The timeless beauty of this custom type of awning creates a sophisticated design to complement your home or business
            architecture.</p>
        <p>Spear point awnings add a European elegance to any area but also creates a nice shaded area to entertain guest.</p>
        <a class="bwp-button primary small" href="spear-point-ball-point.html">View Details</a>
        </div>
        <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
    </div>

    <!-- PRODUCTS - METAL AWNINGS -->
    <div class="bwp-col-4 col">
        <div class="bwp-service-box text-center">
        <div class="image">
            <img class="lazy-image" data-src="assets/img/products/services/services-metal-awning.jpg" alt="image" />
        </div>
        <h3>METAL AWNINGS</h3>
        <p>With Sunset Canvas & Awning you can create an architectural statement with distinctive, louvered, standing seam
            or metal awnings and canopies. </p>

        <p>All-metal designs communicate your character and style while providing energy saving protection from the elements.
            </p>
        <a class="bwp-button primary small" href="metal-awnings.html">View Details</a>
        </div>
        <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
    </div>

    </div><!-- ./row -->


    <div class="bwp-row">
        <!-- PRODUCTS -  ARCADIA LOUVERED PERGOLA-->
        <div class="bwp-col-4 col">
            <div class="bwp-service-box text-center">
            <div class="image">
                <img class="lazy-image" data-src="assets/img/products/services/services-arcadia.jpg" alt="image" />
            </div>
            <h3>ARCADIA LOUVERED PERGOLA</h3>
            <p>The Arcadia system is very unique as it has louvers that can adjust in either direction this is critical as the sun is always changing positions throughout the day. With a remote control you can change the position of the louvers a few degrees to create the perfect amount of shade.</p>
            <p style='margin-bottom: 57px;'> Our systems are designed for residential and or commercial applications and is also made to integrate with existing systems.</p>
            <a class="bwp-button primary small" href="arcadia-louvered-pergola.html">View Details</a>
            </div>
            <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
        </div>

        <!-- PRODUCTS - INFINITY CANOPY SYSTEM -->
        <div class="bwp-col-4 col">
            <div class="bwp-service-box text-center">
            <div class="image">
                <img class="lazy-image" data-src="assets/img/products/services/services-infinite-canopy.jpg" alt="image" />
            </div>
            <h3>INFINITY CANOPY SYSTEM</h3>
            <p>The Infinity Canopy system is a slide on wire canopy. Its modular design allows it to adapt to any space, be configured in one or multiple colors, and change within minutes to create new designs and patterns even on existing pergolas or existing structures.</p>
            
            <p>Infinity Canopy can easily be installed on pergolas, between two opposing structures, on free-standing structures/beams, etc.</p>

            <a class="bwp-button primary small" href="infinity-canopy-system.html">View Details</a>
            </div>
            <div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>
        </div>
            
    </div><!-- ./row -->
            

    <!--<div class="bwp-spacer" data-desktop="90" data-mobi="70" data-smobi="40"></div>-->
</div>
</section>