<section id="contact" class="contact-section">
    <div class="bwp-container">
        <div class="bwp-spacer" data-desktop="100" data-mobi="70" data-smobi="40"></div>

        <div class="bwp-row">
            <div class="bwp-col-12 col">
                <div class="bwp-heading">
                    <h2 class="bwp-heading text-center">CONTACT US</h2>
                    <div class="bwp-line center margin-bottom-40"></div>

                    <h6 class="bwp-sub-heading text-center">Greg will email you back within 24 hours to schedule a phone consultation!</h6>

                    <!--<p class="bwp-sub-heading text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet iaculis elit. <br>Nam semper ut arcu non placerat. Praesent nibh massa varius.</p>
                </div>-->
            </div>

            <div class="bwp-col-4 col">
                <h4>Address</h4>
                <p>Santa Clara, CA 95050</p>

                <div class="bwp-spacer" data-desktop="15" data-mobi="10" data-smobi="5"></div>

                <h4>Phone numbers</h4>
                <p><strong>South Bay:</strong> (408) 857-3488</p>
                <p><strong>East Bay:</strong> (510) 838-0154</p>
                <p><strong>East Contra Costa County:</strong> (925) 308-5892</p>
                <p><strong>Sacramento:</strong> (916) 000-0000</p>

                <div class="bwp-spacer" data-desktop="15" data-mobi="10" data-smobi="5"></div>

                <h4>E-mail address</h4>
                <p>info@sunsetcanvasawning.com</p>

                <div class="bwp-spacer" data-desktop="0" data-mobi="20" data-smobi="10"></div>
            </div>



            <div class="bwp-col-8 col">


                <form method="POST" action="https://formspree.io/sunsetcanvasawning@gmail.com">
                    <div class="inner">
                        <div class="left-side">
                            <div class="input-wrap">
                                <input type="text" placeholder="Name *" name="name" id="name" required>
                            </div>
                            <div class="input-wrap">
                                <input type="email" name="email" placeholder="Email *" id="email" required>
                            </div>
                            <div class="input-wrap">
                                <input type="text" name="number" placeholder="Contact number *"  id="subject" required>
                            </div>
                            <div class="message-wrap">
                                <textarea name="message" placeholder="Message *"  id="message" required></textarea>
                            </div>
                            <div class="send-wrap">
                                <input type="submit" value="submit" placeholder="Send message" name="submit" id="submit" class="submit">
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.bwp-contact-form -->
            </div>
        </div>
    </div>
</section>