<section id="features" class="features-section">
    <div class="bwp-container">
        {# <div class="bwp-spacer" data-desktop="100" data-mobi="70" data-smobi="40"></div> #}

        <div class="bwp-row">
            <div class="bwp-col-12 col">
                <div class="bwp-heading">
                    <h2 id="about" class="bwp-heading text-center">ABOUT</h2>
                    <div class="bwp-line center margin-bottom-40"></div>
                    <!--<p class="bwp-sub-heading text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet iaculis elit.<br> Nam semper ut arcu non placerat. Praesent nibh massa varius.</p>-->
                </div>
            </div>
        </div>
    </div>




    <div class="bwp-container">
        <div class="bwp-row">
            
            <div class="bwp-col-8 col">
                <!--<div class="bwp-spacer" data-desktop="116" data-mobi="80" data-smobi="50"></div>-->

                <div class="bwp-icon-box">
                    <div class="icon">
                        <img src="assets/img/icons/red-awning-icon.jpg"  width="60" height="60" alt="image" />
                    </div>
                    <p>Greg Parr began custom canvas related work in the Navy as a Parachute Rigger beginning in the late 1970’s through to 1988.<br>He had also apprentice as a Sail maker in Hawaii leaning <strong>awning fabrication</strong>, installation &amp; management along the way.</p>
                </div>

                <div class="bwp-spacer" data-desktop="62" data-mobi="30" data-smobi="30"></div>

                <div class="bwp-icon-box">
                    <div class="icon">
                        <img src="assets/img/icons/orange-awning-icon.jpg"  width="60" height="60" alt="image" />
                    </div>
                    <p>Greg started his first Sunset Canvas in a garage with one sewing machine in Mailii Beach Hawaii, the skills and love of his craft and a desire to deliver only the best.<br>The business eventually relocated in the Bay Area and has become a South Bay benchmark for quality and competitive pricing.</p>
                </div>

                <div class="bwp-spacer" data-desktop="62" data-mobi="30" data-smobi="30"></div>

                <div class="bwp-icon-box">
                    <div class="icon">
                        <img src="assets/img/icons/yellow-awning-icon.jpg"  width="60" height="60" alt="image" />
                    </div>
                    <p>After establishing a leadership role in <strong>awning design</strong> &amp; fabrication in Hawaii where the Sun Wind &amp; Salt Water are to the extreme we brought our talents and knowledge to the Bay Area.<br>Our determination to stay at the forefront in <strong>awning and canopy design</strong>, quality and delivery remains our true course.</p>
                </div>

                <!--<div class="bwp-spacer" data-desktop="62" data-mobi="30" data-smobi="30"></div>-->
            </div>
            
            <div class="bwp-col-4 col">
                <img id="greg-full-body" class="lazy-image" data-src="assets/img/greg-full-body.jpg" alt="image" />
            </div>
        </div>
    </div>
</section>