
<p class=".span"> </p>
    <div class="child">
        <div class="calculator_custom" id="calculator_custom">
            <label for="widthCustom" class="label">Total Width</label><br>
            <div class="space">
              <input type="number" min="1" max="100"  class="input" name="widthCustom" id="widthCustom" width="20" height="20" 
              onkeydown = "if (event.keyCode == 13)
                        document.getElementById('calcCustom').click()" />&nbsp;Feet
            </div>
        </div>

        <div class="calculator_custom">
            <label for="lengthCustom" class="label">Canopy Length</label><br>
            <div class="space"> 
               <input type="number" min="1" max="60" class="input" name="lengthCustom" id="lengthCustom" 
               onkeydown = "if (event.keyCode == 13)
                        document.getElementById('calcCustom').click()"  />&nbsp;Feet<br>  
            </div> 
        </div>

        <div class="calculator_custom">
            <label for="lengthCustom" class="label">Canopy Width</label><br>
            <div class="space"> 
               <input type="number" min="4" max="12" class="input" name="canopyWidthCustom" id="canopyWidthCustom" 
               onkeydown = "if (event.keyCode == 13)
                        document.getElementById('calcCustom').click()"  />&nbsp;Feet<br>  
            </div> 
        </div>


        <div class="button calculator_custom ">
            <input type="button" id="calcCustom" class="btn" value="calculate" onClick="calculateCustom();" 
            onkeydown = "if (event.keyCode == 13)
                        document.getElementById('calcCustom').click()" />
        </div>
        
    </div>
    <div class="Premium" id="explainCustom">
       
    </div>
    

    <div class="child1">
        <div class="showCustom" id="showCustom">

        </div>
    </div>
    </div>
   

<script type="text/javascript">

    function calculateCustom(){
        var widthCustom= document.getElementById("widthCustom").value;
        var canopyWidthCustom = document.getElementById("canopyWidthCustom").value;


        var ratio = canopyWidthCustom/widthCustom
        if(ratio >0)
        {
            var section=parseInt(Math.ceil((widthCustom)/Math.ceil(canopyWidthCustom)));
            var graphicWidthCustom = 20 * canopyWidthCustom;
            var lengthCustom= document.getElementById("lengthCustom").value;
            var panels=parseInt(Math.round((lengthCustom)*12/22.5));
          
           // document.getElementById("panels").value=panels;
            var myTableCustom= "<table class='table' cellspacing='5' >";
            for (var i=0; i<panels; i++) {
                myTableCustom+="<tr'>";
                for(var j=0; j<section; j++){
                    myTableCustom+="<td class='graphic_box_custom'>&nbsp;</td>";
                }
                myTableCustom+="</tr>";

            }
            myTableCustom+="</table>";
              
            
            
            var premFab;
            var satndFab;
            if (parseInt(canopyWidthCustom) > parseInt(widthCustom) || parseInt(canopyWidthCustom) > 12)
            {
                alert('Canopy Width cannot be Greater than 12 or Greater than Total Width');
                return;
            }
			
            else
            {

                if(canopyWidthCustom <= 4)
                {
                    premFab= (section*panels*140.00);
                    satndFab= (section*panels*120.00);
                }
                else if(canopyWidthCustom >=4 && canopyWidthCustom <=5)
                {
                    premFab= (section*panels*150.00);
                    satndFab= (section*panels*130.00);
                }
                else if(canopyWidthCustom>=5 &&   canopyWidthCustom <= 6)
                {
                    premFab= (section*panels*180.00);
                    satndFab= (section*panels*160.00);
                }
                else if(canopyWidthCustom>=6 && canopyWidthCustom <= 7)
                {
                    premFab= (section*panels*210.00);
                    satndFab= (section*panels*180.00);
                }   
                else if(canopyWidthCustom>=7 && canopyWidthCustom <= 8)
                {
                    premFab= (section*panels*240.00);
                    satndFab= (section*panels*210.00);
                }
                else if(canopyWidthCustom>=8 && canopyWidthCustom <= 9)
                {
                    premFab= (section*panels*270.00);
                    satndFab= (section*panels*240.00);
                }
                else if(canopyWidthCustom>=9 && canopyWidthCustom <= 10)
                {
                    premFab= (section*panels*300.00);
                    satndFab= (section*panels*270.00);
                }
                else if(canopyWidthCustom>=10 && canopyWidthCustom ===11)
                {
                    premFab= (section*panels*360.00);
                    satndFab= (section*panels*300.00);
                }
                else
                {
                    premFab= (section*panels*420.00);
                    satndFab= (section*panels*360.00);
                }
                document.getElementById("showCustom").innerHTML= myTableCustom;
            }
 
            var explainCustom= "<p class='font_custom'><br>You need <b>"+section+"</b> section(s)/row(s) of Infinity Canopy with <b>"+panels+"</b> panels each. The estimate for your canopy is:  <br><br><b> $"+premFab+".00 with Premium Fabric* <br>$"+satndFab+".00 with Standard Fabric<br><br>*Add 20% for Serge Ferrari fabric. <br>*Add 20% for Sunbrella fire rated fabric and fabrics marked with astric* (see fabric card)<br><br>Optional Items: Need one not both.<br>Magnetic Latch, $65.00 ea.<br> Ball Bearing Pulley System, $65 ea.</b></p>";
            document.getElementById("explainCustom").innerHTML= explainCustom;  
        }
        else
        {
           document.getElementById("explainCustom").innerHTML = "<p class='fon'><br> Canopy Width Must Be greater Than Zero</p>";
        }

        var x = document.getElementsByClassName('graphic_box_custom')
        var w = 10 * canopyWidthCustom + 'px';
        for(i=0; i<x.length;i++)
        {
          x[i].style.width = w;
        }
    }
</script>