<!-- free-standing-caponies.njk-->
{% extends "layout.njk" %} {% block content %}

<div id="featured-title" class="clearfix">
  <div id="featured-title-inner" class="bwp-container">
    <div class="featured-title-inner-wrap">
      <div class="featured-title-heading-wrap">
        <h1 class="featured-title-heading ">Arcadia Louvered Pergola</h1>
      </div>

      <div id="breadcrumbs">
        <div class="breadcrumbs-inner">
          <div class="breadcrumb-trail">
            <a href="index.html" class="trail-begin">Home</a>
            <span class="sep">/</span>
            <a href="index.html#products-section" class="trail-begin"
              >Products</a
            >
            <span class="sep">/</span>
            <span class="trail-end">Arcadia Louvered Pergola</span>
          </div>
        </div>
      </div>
      <!-- /#breadcrumbs -->
    </div>
  </div>
  <!-- /#featured-title-inner -->
</div>

<div id="main-content" class="site-main clearfix">
  <div class="bwp-container">
    <div class="bwp-row">
      <div class="bwp-col-12 col">
        <div class="project-media">
          <div
            class="project-slider single-slider"
            data-item1500="1"
            data-item1100="1"
            data-item800="1"
            data-item550="1"
            data-item320="1"
            data-layout="slider"
            data-gaph="10"
            data-gapv="10"
            data-arrows="true"
            data-bullets="false"
          >
            <div class="item-wrap cbp">
              <div class="cbp-item">
                <img
                  src="assets/img/products/arcadia-louvered-pergola/arcadia-carousel0.jpg"
                  alt="arcadia louvered pergola"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/arcadia-louvered-pergola/arcadia-carousel1.jpg"
                  alt="arcadia louvered pergola"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/arcadia-louvered-pergola/arcadia-carousel2.jpg"
                  alt="arcadia louvered pergola"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/arcadia-louvered-pergola/arcadia-carousel3.jpg"
                  alt="arcadia louvered pergola"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/arcadia-louvered-pergola/arcadia-carousel4.jpg"
                  alt="arcadia louvered pergola"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/arcadia-louvered-pergola/arcadia-carousel5.jpg"
                  alt="arcadia louvered pergola"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/arcadia-louvered-pergola/arcadia-carousel6.jpg"
                  alt="arcadia louvered pergola"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/arcadia-louvered-pergola/arcadia-carousel7.jpg"
                  alt="arcadia louvered pergola"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/arcadia-louvered-pergola/arcadia-carousel8.jpg"
                  alt="arcadia louvered pergola"
                />
              </div>
            </div>
          </div>

          <div
            class="bwp-spacer"
            data-desktop="50"
            data-mobi="30"
            data-smobi="20"
          ></div>
        </div>
      </div>

      <div class="bwp-col-12 col">
        <!--<h3>The Details</h3>-->
        <div class="bwp-heading">
          <h2
            style="text-transform: uppercase;"
            class="bwp-heading text-center"
          >
            What Is An Arcadia Louvered Pergola?
          </h2>
          <div class="bwp-line center margin-bottom-40"></div>
        </div>

        <div class="mobile-product-quote-btn promo-button">
          <a href="index.html#contact" class="bwp-button">Get a Quote</a>
        </div>

        <p>
          Pergolas been around since ancient Greece and Roman times, it’s
          typically a wood structure that you sit under and gives you sun and
          eventually some slatted shade depending on the position of the sun.
          The Arcadia system is very unique as it has louvers that can adjust in
          either direction this is critical as the sun is always changing
          positions throughout the day. With a remote control you can change the
          position of the louvers a few degrees to create the perfect amount of
          shade. If the weather should change and we start to get a little rain
          you can close the louvers in the louvers will interlock creating a
          roof over structure and louvers will be pitched 2 degrees so it will
          run the rain water to an internal gutter system built into each
          structure. The adjustable louvered roof system is an all aluminum
          structure that is engineered to meet very strict California building
          codes.
        </p>

        <p>
          This system can be placed virtually anywhere, we have overcome
          difficult placements location and meeting our customers’ requirements.
          Our systems are designed for residential and/or commercial
          applications and made to integrate with existing systems. Automatic
          Rain sensors which close the louvers automatically are available with
          these units, and also a range of accessories. There are three
          operating systems available, manually operated, motorized remote
          control, and solar powered. Please feel free to contact us for a
          on-site consultation.
        </p>

        <div
          class="bwp-spacer"
          data-desktop="25"
          data-mobi="15"
          data-smobi="15"
        ></div>
      </div>

      <div class="bwp-col-6 col">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/JihTiLNxrP8"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <div class="bwp-col-6 col">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/9TpNCgcMHso"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <div class="bwp-col-6 col">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/1yPvCSajwFo"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <div class="bwp-col-6 col">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/zJiqFS2i30Y"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>

        <div
          class="bwp-spacer"
          data-desktop="70"
          data-mobi="35"
          data-smobi="25"
        ></div>
      </div>

      <style>
        #brochures {
          display: flex;
          justify-content: space-around;
        }

        #brochures img {
          padding-left: 10%;
          padding-right: 10%;
        }

        .col4 {
          width: 33.33333333%;
          float: left;
          position: relative;
        }
        .transition {
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        body .container {
          width: 70%;
          margin: 0 auto;
        }
        .fx1 .item {
          margin: 10px 0;
        }

        /* active on focus for accessibility tab navigation */

        .fx1 .item {
          padding-left: 5%;
        }
        .fx1 .item img {
          padding: 0 !important;
          display: block;
          max-width: 100%;
          height: auto;
        }
        .fx1 a:hover .item img,
        .fx1 a:focus .item img {
          /* opacity: 1; */
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        .fx1 h4,
        .fx1 p {
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        .fx1 a .item h4 {
          font-family: "Raleway", sans-serif;
          font-size: 16px;
          position: absolute;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: absolute;
          top: 42%;
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: center;
          opacity: 0;
        }
        .fx1 a:hover .item h4,
        .fx1 a:focus .item h4 {
          opacity: 1;
        }
        .fx1 a .item p {
          font-family: "Raleway", sans-serif;
          font-size: 8px;
          position: absolute;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: absolute;
          top: 52%;
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: center;
          opacity: 0;
        }
        .fx1 a:hover .item p,
        .fx1 a:focus .item p {
          opacity: 1;
        }
      </style>

      <div class="bwp-col-12 col">
        <div class="bwp-heading">
          <h2 class="bwp-heading text-center">BROCHURES</h2>
          <div class="bwp-line center margin-bottom-40"></div>
        </div>

        <section id="brochures">
          <div class="fx1">
            <a href="assets/documents/arcadia/arcadia-brochure.pdf">
              <div class="item col4">
                <img
                  class="transition img-responsive"
                  src="assets/documents/arcadia/arcadia-brochure-img.png"
                />
                <!-- <h4>Arcadia Brochure</h4> -->
                <!-- <p>Description</p> -->
              </div>
            </a>

            <a
              href="assets/documents/arcadia/arcadia-architechtural-binder-residential.pdf"
            >
              <div class="item col4">
                <img
                  class="transition img-responsive"
                  src="assets/documents/arcadia/arcadia-architechtural-binder-residential-img.png"
                />
                <!-- <h4>Residential <br> Architechtural <br> Binder </h4> -->
                <!-- <p>Description</p> -->
              </div>
            </a>

            <a
              href="assets/documents/arcadia/arcadia-architectrual-binder-commercial.pdf"
            >
              <div class="item col4">
                <img
                  class="transition img-responsive"
                  src="assets/documents/arcadia/arcadia-architectrual-binder-commercial-img.png"
                />
                <!-- <h4>Commercial <br> Architechtural <br> Binder</h4> -->
                <!-- <p>Description</p> -->
              </div>
            </a>
          </div>

          <!-- <div class="item col4">
            <a href="assets/documents/arcadia/arcadia-brochure.pdf"
              ><img
                class="transition img-responsive"
                src="assets/documents/arcadia/arcadia-brochure-img.png"
              />
            </a>
            <h4>title arcadia louvered pergola</h4>
            <p>Description</p>
          </div>

          <div>
            <a
              href="assets/documents/arcadia/arcadia-architechtural-binder-residential.pdf"
              ><img
                src="assets/documents/arcadia/arcadia-architechtural-binder-residential-img.png"
            /></a>
          </div>

          <div>
            <a
              href="assets/documents/arcadia/arcadia-architectrual-binder-commercial.pdf"
              ><img
                src="assets/documents/arcadia/arcadia-architectrual-binder-commercial-img.png"
            /></a>
          </div> -->
        </section>
      </div>

      <!--<div class="bwp-col-4 col">
                    	<div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

						<h4>Project Description</h4>
						<ul class="bwp-list">
						<li><strong>Client:</strong>Lorem ipsum dolor sit amet</li>
						<li><strong>Location:</strong>Santa Clara, CA, 94017,</li>
						<li><strong>Owner:</strong>   David &amp; Smithg</li>
						</ul>
						<p class="margin-bottom-0">Sed facilisis lorem in orci bibendum ullamcorper. Mauris vitae augue elementum, sodales nulla a, semper ligula.</p>
                    </div>-->
    </div>
  </div>
</div>

<div class="bwp-container">
  <div class="bwp-row">
    <div class="bwp-col-12 col">
      <div class="arrow-down bounce">
        <a class="fa fa-arrow-down fa-2x" href="#folio"></a>
      </div>
    </div>
  </div>
</div>

{% include "partials/schedule-consultation-button.njk" %}

<div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>

<!--  -->
<section id="folio" class="folio-section" style="background-color: #252525;">
  <div class="bwp-container">
    <div
      class="bwp-spacer"
      data-desktop="100"
      data-mobi="70"
      data-smobi="40"
    ></div>

    <div class="bwp-row">
      <div class="bwp-col-12 col">
        <div class="bwp-heading">
          <h2 class="bwp-heading text-center text-white">TYPE OF PROPERTY</h2>
          <div class="bwp-line center margin-bottom-40"></div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="bwp-project"
    data-item="4"
    data-layout="grid"
    data-gaph="1"
    data-gapv="1"
  >
    <div id="project-filter">
      <div data-filter="*" class="cbp-filter-item"><span>All</span></div>
      <div data-filter=".retractables-awnings" class="cbp-filter-item">
        <span>Commercial</span>
      </div>
      <div data-filter=".residential-awnings" class="cbp-filter-item">
        <span>Residential</span>
      </div>
    </div>
    <!-- /#project-filter -->

    <!-- Commercial Arcadia -->
    <div id="projects" class="cbp">
      <div class="cbp-item retractables-awnings">
        <div class="project-item">
          <div class="project-arcadia louvered pergola">
            <img
              src="assets/img/products/arcadia-louvered-pergola/commercial-arcadia1.jpg"
              alt="arcadia louvered pergola"
            />
          </div>
          <div class="project-detail">
            <h4 class="title">Commercial Arcadia</h4>
          </div>
          <a
            class="project-zoom cbp-lightbox"
            href="assets/img/products/arcadia-louvered-pergola/commercial-arcadia1.jpg"
            data-title="Retractables Awnings 1"
          >
            <i class="fa fa-arrows-alt"></i>
          </a>
        </div>
        <!-- /.project-item -->
      </div>
      <!-- /.cbp-item -->

      <div class="cbp-item retractables-awnings">
        <div class="project-item">
          <div class="project-arcadia louvered pergola">
            <img
              src="assets/img/products/arcadia-louvered-pergola/commercial-arcadia2.jpg"
              alt="arcadia louvered pergola"
            />
          </div>
          <div class="project-detail">
            <h4 class="title">Commercial Arcadia</h4>
          </div>
          <a
            class="project-zoom cbp-lightbox"
            href="assets/img/products/arcadia-louvered-pergola/commercial-arcadia2.jpg"
            data-title="Retractables Awnings 1"
          >
            <i class="fa fa-arrows-alt"></i>
          </a>
        </div>
        <!-- /.project-item -->
      </div>
      <!-- /.cbp-item -->

      <div class="cbp-item retractables-awnings">
        <div class="project-item">
          <div class="project-arcadia louvered pergola">
            <img
              src="assets/img/products/arcadia-louvered-pergola/commercial-arcadia3.jpg"
              alt="arcadia louvered pergola"
            />
          </div>
          <div class="project-detail">
            <h4 class="title">Commercial Arcadia</h4>
          </div>
          <a
            class="project-zoom cbp-lightbox"
            href="assets/img/products/arcadia-louvered-pergola/commercial-arcadia3.jpg"
            data-title="Retractables Awnings 1"
          >
            <i class="fa fa-arrows-alt"></i>
          </a>
        </div>
        <!-- /.project-item -->
      </div>
      <!-- /.cbp-item -->

      <div class="cbp-item retractables-awnings">
        <div class="project-item">
          <div class="project-arcadia louvered pergola">
            <img
              src="assets/img/products/arcadia-louvered-pergola/commercial-arcadia4.jpg"
              alt="arcadia louvered pergola"
            />
          </div>
          <div class="project-detail">
            <h4 class="title">Commercial Arcadia</h4>
          </div>
          <a
            class="project-zoom cbp-lightbox"
            href="assets/img/products/arcadia-louvered-pergola/commercial-arcadia4.jpg"
            data-title="Retractables Awnings 1"
          >
            <i class="fa fa-arrows-alt"></i>
          </a>
        </div>
        <!-- /.project-item -->
      </div>
      <!-- /.cbp-item -->

      <!-- /Commercial Arcadia -->

      <!-- Residential Arcadia-->
      <div class="cbp-item residential-awnings">
        <div class="project-item">
          <div class="project-arcadia louvered pergola">
            <img
              src="assets/img/products/arcadia-louvered-pergola/residential-arcadia1.jpg"
              alt="arcadia louvered pergola"
            />
          </div>
          <div class="project-detail">
            <h4 class="title">Residential Arcadia</h4>
          </div>
          <a
            class="project-zoom cbp-lightbox"
            href="assets/img/products/arcadia-louvered-pergola/residential-arcadia1.jpg"
            data-title="Residential 2"
          >
            <i class="fa fa-arrows-alt"></i>
          </a>
        </div>
        <!-- /.project-item -->
      </div>
      <!-- /.cbp-item -->

      <div class="cbp-item residential-awnings">
        <div class="project-item">
          <div class="project-arcadia louvered pergola">
            <img
              src="assets/img/products/arcadia-louvered-pergola/residential-arcadia2.jpg"
              alt="arcadia louvered pergola"
            />
          </div>
          <div class="project-detail">
            <h4 class="title">Residential Arcadia</h4>
          </div>
          <a
            class="project-zoom cbp-lightbox"
            href="assets/img/products/arcadia-louvered-pergola/residential-arcadia2.jpg"
            data-title="Residential 2"
          >
            <i class="fa fa-arrows-alt"></i>
          </a>
        </div>
        <!-- /.project-item -->
      </div>
      <!-- /.cbp-item -->

      <div class="cbp-item residential-awnings">
        <div class="project-item">
          <div class="project-arcadia louvered pergola">
            <img
              src="assets/img/products/arcadia-louvered-pergola/residential-arcadia3.jpg"
              alt="arcadia louvered pergola"
            />
          </div>
          <div class="project-detail">
            <h4 class="title">Residential Arcadia</h4>
          </div>
          <a
            class="project-zoom cbp-lightbox"
            href="assets/img/products/arcadia-louvered-pergola/residential-arcadia3.jpg"
            data-title="Residential 2"
          >
            <i class="fa fa-arrows-alt"></i>
          </a>
        </div>
        <!-- /.project-item -->
      </div>
      <!-- /.cbp-item -->

      <div class="cbp-item residential-awnings">
        <div class="project-item">
          <div class="project-arcadia louvered pergola">
            <img
              src="assets/img/products/arcadia-louvered-pergola/residential-arcadia4.jpg"
              alt="arcadia louvered pergola"
            />
          </div>
          <div class="project-detail">
            <h4 class="title">Residential Arcadia</h4>
          </div>
          <a
            class="project-zoom cbp-lightbox"
            href="assets/img/products/arcadia-louvered-pergola/residential-arcadia4.jpg"
            data-title="Residential 2"
          >
            <i class="fa fa-arrows-alt"></i>
          </a>
        </div>
        <!-- /.project-item -->
      </div>
      <!-- /.cbp-item -->
      <!-- /Residential -->
    </div>
    <!-- /#projects -->
  </div>
  <!-- /.bwp-project -->
</section>

<div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>

{% endblock %}
