<!-- commercial-awnings.njk-->
{% extends "layout.njk" %} 

{% block content %}

<div id="featured-title" class="clearfix">
            <div id="featured-title-inner" class="bwp-container">
                <div class="featured-title-inner-wrap">
                    <div class="featured-title-heading-wrap">
                        <h1 class="featured-title-heading ">Commercial Awnings</h1>
                    </div>

                    <div id="breadcrumbs">
                        <div class="breadcrumbs-inner">
                            <div class="breadcrumb-trail">
                                <a href="index.html" class="trail-begin">Home</a>
                                <span class="sep">/</span>
                                <a href="index.html#products-section" class="trail-begin">Products</a>
                                <span class="sep">/</span>
                                <span class="trail-end">Commercial Awnings</span>
                            </div>
                        </div>
                    </div><!-- /#breadcrumbs -->
                </div>
            </div><!-- /#featured-title-inner -->
        </div>

        <div id="main-content" class="site-main clearfix">
            <div class="bwp-container">
                <div class="bwp-row">
                    <div class="bwp-col-12 col">
						

                        
                        
                        
                    <!-- ORIGINAL SLIDER -->
                        <div class='project-media'>
						    <div class="project-slider single-slider" data-item1500="1" data-item1100="1" data-item800="1" data-item550="1" data-item320="1" data-layout="slider" data-gaph="10" data-gapv="10" data-arrows="true" data-bullets="false">
						        <ul class="item-wrap cbp">
						            <li data-transition="parallaxvertical" class="cbp-item">
						                <img src="assets/img/projects/commercial-awnings/drawings/shadesailsdrawing.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
						            </li>
						            <li data-transition="parallaxvertical" class="cbp-item">
						                <img src="assets/img/projects/commercial-awnings/drawings/shadesailsphoto.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
						            </li>
						            <li data-transition="parallaxvertical" class="cbp-item">
						                <img src="assets/img/projects/commercial-awnings/drawings/shadesaildrawing2.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
						            </li>
						            <li data-transition="parallaxvertical" class="cbp-item">
						                <img src="assets/img/projects/commercial-awnings/drawings/metaldrawing.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
						            </li>
						            <li data-transition="parallaxvertical" class="cbp-item">
						                <img src="assets/img/projects/commercial-awnings/drawings/metalphoto.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
						            </li>
						        </ul>
						    </div>
						</div>




<!--<section id="main-slider">
            <div id="rev-slider1">
                <ul>
                    <li data-transition="parallaxvertical">
                        <img src="assets/img/projects/commercial-awnings/drawings/shadesailsdrawing.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    </li>

                     <li data-transition="parallaxvertical">
                        <img src="assets/img/projects/commercial-awnings/drawings/shadesailsphoto.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    </li>
                   
                     <li data-transition="parallaxvertical">
                        <img src="assets/img/projects/commercial-awnings/drawings/shadesaildrawing2.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    </li>
                    
                    <li data-transition="parallaxvertical">
                        <img src="assets/img/projects/commercial-awnings/drawings/metaldrawing.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    </li>
                    
                     <li data-transition="parallaxvertical">
                        <img src="assets/img/projects/commercial-awnings/drawings/metalphoto.jpg" alt="image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    </li>

                </ul>
            </div>
</section>-->





						<div class="bwp-spacer" data-desktop="40" data-mobi="30" data-smobi="30"></div>
                    </div>

                    <div class="bwp-col-12 col">
						<!--<h3>The Details</h3>-->
            <h3>What Are Commercial Awnings?</h3>

                        <p>Some would say that a business is only as good as the commercial awnings that adorn that business' offices or manufacturing facilities. Those people probably work at <i>Sunset Canvas &amp; Awning</i> but it's possible we're a little biased. What is true without a doubt, though, is that the right commercial awnings can really make a difference as to how your business looks and how other people look at it, and that you can get the perfect commercial awning at a price that makes good business sense here at <i>Sunset Canvas &amp; Awning</i>.</p>

						<p>Commercial awnings combine the charm and flexibility of fabric with the high visibility of a sign, providing round the clock identification to storefronts, shopping malls, theaters, restaurants, hotels, anywhere you want to attract public attention. </p>
							
						<p>Commercial awnings can be designed to accentuate any building, outside or inside. <i>Sunset Canvas &amp; Awning</i> can help you create an attractive, affordable design using the latest translucent fabrics and specialty framework systems. Commercial awnings can please your customers by creating a sense of excitement, festivity, and celebration in practically any setting.</p>
							
                    </div>

                    <!--<div class="bwp-col-4 col">
                    	<div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

						<h4>Project Description</h4>
						<ul class="bwp-list">
						<li><strong>Client:</strong>Lorem ipsum dolor sit amet</li>
						<li><strong>Location:</strong>Santa Clara, CA, 94017,</li>
						<li><strong>Owner:</strong>   David &amp; Smithg</li>
						</ul>
						<p class="margin-bottom-0">Sed facilisis lorem in orci bibendum ullamcorper. Mauris vitae augue elementum, sodales nulla a, semper ligula.</p>
                    </div>-->
                </div>
            </div>
        </div>

        



    <div class="bwp-container">
        <div class="bwp-row">
            <div class="bwp-col-12 col">
                <div class="arrow-down bounce">
                    <a class="fa fa-arrow-down fa-2x" href="#folio"></a>
                </div>
            </div>
        </div>
    </div>

{% include "partials/schedule-consultation-button.njk" %}


<div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>









<section id="folio" class="folio-section">
    <div class="bwp-container">
        <div class="bwp-row">
            <div class="bwp-col-12 col">
                <div class="bwp-project" data-item="3" data-layout="grid" data-gaph="10" data-gapv="10">
                   

                    <div class="bwp-row">
                        <div class="bwp-heading">
                                <h2 class="bwp-heading text-center">GALLERY</h2>
                                <div class="bwp-line center margin-bottom-40"></div>
                            </div>
                    </div>

                    <div id="projects" class="cbp">
                        
                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings1.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings1.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings2.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings2.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings3.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings3.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings4.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings4.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings5.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings5.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->




 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings6.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings6.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings7.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings7.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings8.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings8.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings9.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings9.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings10.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings10.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings11.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings11.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings12.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings12.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings13.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings13.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings14.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings14.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings15.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings15.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings16.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings16.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings17.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings17.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings18.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings18.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings19.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings19.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings20.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings20.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings21.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings21.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings22.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings22.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings23.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings23.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings24.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings24.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings25.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings25.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings26.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings26.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings27.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings27.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings28.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings28.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings29.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings29.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings30.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings30.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings31.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings31.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings32.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings32.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

 <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/projects/commercial-awnings/commercialawnings33.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Commercial Awning</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/commercial-awnings/commercialawnings33.jpg" data-title="Commercial Awning">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->




                    </div><!-- /#projects -->
                </div><!-- /.bwp-project -->

                <div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>
            </div>
        </div>
    </div>
</section>



{% endblock %}