<!-- fixed-awnings.njk-->
{% extends "layout.njk" %} {% block content %}

<div id="featured-title" class="clearfix">
  <div id="featured-title-inner" class="bwp-container">
    <div class="featured-title-inner-wrap">
      <div class="featured-title-heading-wrap">
        <h1 class="featured-title-heading ">Fixed Awnings</h1>
      </div>

      <div id="breadcrumbs">
        <div class="breadcrumbs-inner">
          <div class="breadcrumb-trail">
            <a href="index.html" class="trail-begin">Home</a>
            <span class="sep">/</span>
            <a href="index.html#products-section" class="trail-begin"
              >Products</a
            >
            <span class="sep">/</span>
            <span class="trail-end">Fixed Awnings</span>
          </div>
        </div>
      </div>
      <!-- /#breadcrumbs -->
    </div>
  </div>
  <!-- /#featured-title-inner -->
</div>

<div id="main-content" class="site-main clearfix">
  <div class="bwp-container">
    <div class="bwp-row">
      <div class="bwp-col-12 col">
        <div class="project-media">
          <div
            class="project-slider single-slider"
            data-item1500="1"
            data-item1100="1"
            data-item800="1"
            data-item550="1"
            data-item320="1"
            data-layout="slider"
            data-gaph="10"
            data-gapv="10"
            data-arrows="true"
            data-bullets="false"
          >
            <div>
              <div class="text-center">
                <img
                  src="assets/img/products/fixed-awnings/fixedawningsbanner.jpg"
                  alt="fixed awnings banner"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="bwp-spacer"
          data-desktop="40"
          data-mobi="30"
          data-smobi="30"
        ></div>
      </div>

      <div class="bwp-col-12 col">
        <!--<h3>The Details</h3>-->
        <div class="bwp-heading">
          <h2
            style="text-transform: uppercase;"
            class="bwp-heading text-center"
          >
            What Are Fixed Awnings?
          </h2>
          <div class="bwp-line center margin-bottom-40"></div>
        </div>

        <p>
          A fixed awning is perfect solution for any window, door, deck, patio
          or balcony where protection from the sun and rain is desired. Fixed
          frame awnings can be fabricated into many shapes and sizes to create a
          custom look for your home or business. Reduce your energy bills and
          protect your furniture against harmful UV rays. Hundreds of fabric
          colors, textures and patterns. The only limit is your imagination.
        </p>
      </div>

      <!--<div class="bwp-col-4 col">
                    	<div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

						<h4>Project Description</h4>
						<ul class="bwp-list">
						<li><strong>Client:</strong>Lorem ipsum dolor sit amet</li>
						<li><strong>Location:</strong>Santa Clara, CA, 94017,</li>
						<li><strong>Owner:</strong>   David &amp; Smithg</li>
						</ul>
						<p class="margin-bottom-0">Sed facilisis lorem in orci bibendum ullamcorper. Mauris vitae augue elementum, sodales nulla a, semper ligula.</p>
                    </div>-->
    </div>
  </div>
</div>

<div class="bwp-container">
  <div class="bwp-row">
    <div class="bwp-col-12 col">
      <div class="arrow-down bounce">
        <a class="fa fa-arrow-down fa-2x" href="#folio"></a>
      </div>
    </div>
  </div>
</div>

{% include "partials/schedule-consultation-button.njk" %}

<div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>

<section id="folio" class="folio-section">
  <div class="bwp-container">
    <div class="bwp-row">
      <div class="bwp-col-12 col">
        <div
          class="bwp-project"
          data-item="3"
          data-layout="grid"
          data-gaph="10"
          data-gapv="10"
        >
          <div class="bwp-row">
            <div class="bwp-heading">
              <h2 class="bwp-heading text-center">GALLERY</h2>
              <div class="bwp-line center margin-bottom-40"></div>
            </div>
          </div>

          <div id="projects" class="cbp">
            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings1.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings1.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings2.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings2.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings3.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings3.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings4.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings4.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings5.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings5.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings6.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings6.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings7.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings7.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings8.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings8.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings9.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings9.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings10.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings10.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings11.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings11.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings12.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings12.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/fixed-awnings/fixedawnings13.jpg"
                    alt="fixed awnings"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Fixed Awning</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/fixed-awnings/fixedawnings13.jpg"
                  data-title="Fixed Awning"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->
          </div>
          <!-- /#projects -->
        </div>
        <!-- /.bwp-project -->

        <div
          class="bwp-spacer"
          data-desktop="110"
          data-mobi="70"
          data-smobi="40"
        ></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
