<!-- free-standing-caponies.njk-->
{% extends "layout.njk" %} {% block content %} {% block css %}
<link rel="stylesheet" href="assets/css/infinity-canopy-estimate.css" />
{% endblock %}

<div id="featured-title" class="clearfix">
  <div id="featured-title-inner" class="bwp-container">
    <div class="featured-title-inner-wrap">
      <div class="featured-title-heading-wrap">
        <h1 class="featured-title-heading ">Infinity Canopy System</h1>
      </div>

      <div id="breadcrumbs">
        <div class="breadcrumbs-inner">
          <div class="breadcrumb-trail">
            <a href="index.html" class="trail-begin">Home</a>
            <span class="sep">/</span>
            <a href="index.html#products-section" class="trail-begin"
              >Products</a
            >
            <span class="sep">/</span>
            <span class="trail-end">Infinity Canopy System</span>
          </div>
        </div>
      </div>
      <!-- /#breadcrumbs -->
    </div>
  </div>
  <!-- /#featured-title-inner -->
</div>

<div id="main-content" class="site-main clearfix">
  <div class="bwp-container">
    <div class="bwp-row">
      <div class="bwp-col-12 col">
        <div class="project-media">
          <div
            class="project-slider single-slider"
            data-item1500="1"
            data-item1100="1"
            data-item800="1"
            data-item550="1"
            data-item320="1"
            data-layout="slider"
            data-gaph="10"
            data-gapv="10"
            data-arrows="true"
            data-bullets="false"
          >
            <div class="item-wrap cbp">
              <div class="cbp-item">
                <img
                  src="assets/img/products/infinite-canopy-system/back-deck-roseville-ca.jpg"
                  alt="infinite-canopy-system"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/infinite-canopy-system/backyard-wood-pergola-roseville-ca.jpg"
                  alt="infinite-canopy-system"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/infinite-canopy-system/poolside-elkhork-ca-1.jpg"
                  alt="infinite-canopy-system"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/infinite-canopy-system/poolside-elkhork-ca-2.jpg"
                  alt="infinite-canopy-system"
                />
              </div>
              <div class="cbp-item">
                <img
                  src="assets/img/products/infinite-canopy-system/poolside-rocklin-ca.jpg"
                  alt="infinite-canopy-system"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="bwp-spacer"
          data-desktop="40"
          data-mobi="30"
          data-smobi="30"
        ></div>
      </div>

      <div class="bwp-col-12 col">
        <div class="bwp-heading">
          <h2
            style="text-transform: uppercase;"
            class="bwp-heading text-center"
          >
            What Is An Infinity Canopy System?
          </h2>
          <div class="bwp-line center margin-bottom-40"></div>
        </div>

        <div class="mobile-product-quote-btn promo-button">
          <a href="index.html#contact" class="bwp-button">Get a Quote</a>
        </div>

        <p>
          The Infinity Canopy system is a slide on wire canopy. Its modular
          design allows it to adapt to any space, be configured in one or
          multiple colors, and change within minutes to create new designs and
          patterns even on existing pergolas or existing structures.
        </p>

        <p>
          For many years custom shop built slide on wire canopies have become a
          common part of modern outdoor design for their simplicity, beauty, and
          ability to provide shade when needed and to retract easily when
          desired. However, they have many draw backs because they are custom
          made. To fit properly, they require precise pre-measurement, fabric
          and color selection, fabrication, and finally installation. Once
          installed the custom canopies can’t be modified and any repairs (if
          possible) require a trip back to the shop. Infinity has solutions to
          address these problems.
        </p>

        <p>
          Infinity Canopy's revolutionary design replaces the custom canopies
          with an infinitely versatile, customizable, and adaptable modular
          shade system that can be added to any structure - in any size and in
          one or multiple colors. Using readily available parts and shade
          panels, Infinity Canopy eliminates production time, simplifies
          installation, and provides a superior product at a fraction of a
          custom canopy’s cost. Perfect for any outdoor dining, living, lounge
          space, as well as providing canopy covers for pergolas.
        </p>

        <p>
          Infinity Canopy can easily be installed on pergolas, between two
          opposing structures, on free-standing structures/beams, etc. Open it
          to up to enjoy the outdoors in full shade and retract it to enjoy the
          open air with a full view of the sky.
        </p>

        <p>
          Infinity Canopy is the only shade system that can be modified after
          installation to allow new and unique designs to be created within
          minutes for any taste, style, and need. Repairs (if needed) can easily
          be done on site with replacement parts. There is never a need to send
          anything back.
        </p>

        <div
          class="bwp-spacer"
          data-desktop="40"
          data-mobi="30"
          data-smobi="30"
        ></div>
      </div>

      <style>
        #brochures {
          display: flex;
          justify-content: space-around;
        }

        #brochures img {
          padding-left: 10%;
          padding-right: 10%;
        }

        .col4 {
          width: 33.33333333%;
          float: left;
          position: relative;
        }
        .transition {
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        body .container {
          width: 70%;
          margin: 0 auto;
        }
        .fx1 .item {
          margin: 10px 0;
        }

        /* active on focus for accessibility tab navigation */

        .fx1 .item {
          padding-left: 5%;
        }
        .fx1 .item img {
          padding: 0 !important;
          display: block;
          max-width: 100%;
          height: auto;
        }
        .fx1 a:hover .item img,
        .fx1 a:focus .item img {
          /* opacity: 1; */
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        .fx1 h4,
        .fx1 p {
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        .fx1 a .item h4 {
          font-family: "Raleway", sans-serif;
          font-size: 16px;
          position: absolute;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: absolute;
          top: 42%;
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: center;
          opacity: 0;
        }
        .fx1 a:hover .item h4,
        .fx1 a:focus .item h4 {
          opacity: 1;
        }
        .fx1 a .item p {
          font-family: "Raleway", sans-serif;
          font-size: 8px;
          position: absolute;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: absolute;
          top: 52%;
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: center;
          opacity: 0;
        }
        .fx1 a:hover .item p,
        .fx1 a:focus .item p {
          opacity: 1;
        }
      </style>


<div class="bwp-col-12 col">
    <div class="bwp-heading">
      <h2 class="bwp-heading text-center">BROCHURES</h2>
      <div class="bwp-line center margin-bottom-40"></div>
    </div>

    <section id="brochures">
      <div class="fx1">
        <a href="assets/documents/infinity-canopy/infinity-canopy-brochure.pdf">
          <div class="item col4">
            <img
              class="transition img-responsive"
              src="assets/documents/infinity-canopy/infinity-canopy-brochure-img.png"
            />
            <!-- <h4>Arcadia Brochure</h4> -->
            <!-- <p>Description</p> -->
          </div>
        </a>

        <a href="assets/documents/infinity-canopy/infinity-canopy-configuration-options.pdf">
          <div class="item col4">
            <img
              class="transition img-responsive"
              src="assets/documents/infinity-canopy/infinity-canopy-configuration-options-img.png"
            />
            <!-- <h4>Arcadia Brochure</h4> -->
            <!-- <p>Description</p> -->
          </div>
        </a>

        <a href="assets/documents/infinity-canopy/infinity-canopy-stock-fabrics-and-colors.pdf">
          <div class="item col4">
            <img
              class="transition img-responsive"
              src="assets/documents/infinity-canopy/infinity-canopy-stock-fabrics-and-colors-img.png"
            />
            <!-- <h4>Arcadia Brochure</h4> -->
            <!-- <p>Description</p> -->
          </div>
        </a>
      </div>
    </section>

    <div
    class="bwp-spacer"
    data-desktop="40"
    data-mobi="30"
    data-smobi="30"
  ></div>

      <section id="brochures">
      <div class="fx1">
          <a href="assets/documents/infinity-canopy/phifertex-plus-mesh.pdf">
            <div class="item col4">
              <img
                class="transition img-responsive"
                src="assets/documents/infinity-canopy/phifertex-plus-mesh-img.png"
              />
              <!-- <h4>Arcadia Brochure</h4> -->
              <!-- <p>Description</p> -->
            </div>
          </a>
        
          <a href="assets/documents/infinity-canopy/sunbrella-awning-fabric-card.pdf">
            <div class="item col4">
              <img
                class="transition img-responsive"
                src="assets/documents/infinity-canopy/sunbrella-awning-fabric-card-img.png"
              />
              <!-- <h4>Arcadia Brochure</h4> -->
              <!-- <p>Description</p> -->
            </div>
          </a>
      </div>
    </section>


    <div
    class="bwp-spacer"
    data-desktop="40"
    data-mobi="30"
    data-smobi="30"
  ></div>

  <div
    class="bwp-spacer"
    data-desktop="40"
    data-mobi="30"
    data-smobi="30"
  ></div>

  </div>


      <div class="bwp-col-12 col">
        <div class="bwp-heading">
          <h2
            style="text-transform: uppercase;"
            class="bwp-heading text-center"
          >
            Stock Canopies Size Estimator
          </h2>
          <div class="bwp-line center margin-bottom-40"></div>
        </div>
      </div>

      <div class="bwp-col-7 col">
        <section>
          <p>
            Step 1 - Measure the open space you want to cover. For existing
            structures such as pergolas make sure to measure the internal space
            not the advertised size, which typically refers to the outer
            dimensions. ​
          </p>

          <p>
            Step 2 - Enter the dimensions of your space in the boxes below and
            press "Calculate" to see how many sections and panels you need to
            cover your space and your estimate.
          </p>

          <p style="color:#CF1515;">
            The following estimate is based on 5 feet wide canopies with stock
            fabrics. If you need any width other than 5 feet, please see Custom
            Canopies below.
          </p>

          {% include "partials/infinity-canopy-stock-estimate.njk" %}
        </section>
      </div>


      <div class="bwp-col-5 col">
        <section>
          <img
            src="assets/img/products/infinite-canopy-system/stock-canopy-estimate.webp"
            alt="infinite canopy system stock canopy estimate"
          />
        </section>
      </div>




      <div class="bwp-col-12 col" style="margin-top: 50px;">
        <div class="bwp-heading">
          <h2
            style="text-transform: uppercase;"
            class="bwp-heading text-center"
          >
            Custom Canopies Size Estimator
          </h2>
          <div class="bwp-line center margin-bottom-40"></div>
        </div>
      </div>

      <div class="bwp-col-7 col">
        <section>
          <p>
            Enter the following and press calculate to see the price and a top
            view of the canopies. Price is based on whole feet so a 4'-1" canopy
            is based on 5' canopy's price. Final price is subject to change
            depending on selected fabric. Serge Ferrari, Sunbrella Firesist and
            some other fabrics can increase the price.
          </p>

          <ul>
            <li>Total Width: The width of the area you need to cover.</li>
            <li>Canopy Length: Projection or how far the canopy opens.</li>
            <li>
              Canopy Width: The width of one individual canopy from 2-12 feet.
            </li>
          </ul>
        </section>
      </div>


      <div class="bwp-col-5 col">
        <section>
          <img
            src="assets/img/products/infinite-canopy-system/custom-canopy-estimate.webp"
            alt="infinite canopy system stock canopy estimate"
          />
        </section>
      </div>

      <div class="bwp-col-12 col">
        <section style="margin-top: 0;">
          {% include "partials/infinity-canopy-custom-estimate.njk" %}
        </section>
      </div>

      <!--<div class="bwp-col-4 col">
                    	<div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

						<h4>Project Description</h4>
						<ul class="bwp-list">
						<li><strong>Client:</strong> Lorem ipsum dolor sit amet</li>
						<li><strong>Location:</strong> Santa Clara, CA, 94017,</li>
						<li><strong>Owner:</strong>   David &amp; Smithg</li>
						</ul>
						<p class="margin-bottom-0">Sed facilisis lorem in orci bibendum ullamcorper. Mauris vitae augue elementum, sodales nulla a, semper ligula.</p>
                    </div>-->
    </div>
  </div>
</div>

<div class="bwp-container">
  <div class="bwp-row">
    <div class="bwp-col-12 col">
      <div class="arrow-down bounce">
        <a class="fa fa-arrow-down fa-2x" href="#folio"></a>
      </div>
    </div>
  </div>
</div>

<section id="promo" class="promo-section">
  <div class="bwp-container">
    <div class="bwp-row">
      <div class="bwp-col-12 col">
        <div
          class="bwp-spacer"
          data-desktop="36"
          data-mobi="30"
          data-smobi="30"
        ></div>

        <div class="bwp-promo">
          <div class="inner-wrap">
            <div class="promo-text">
              <h3 class="text-white">
                SCHEDULE AN IN-HOME CONSULTATION TODAY!
              </h3>
            </div>

            <div class="promo-button">
              <a href="index.html#contact" class="bwp-button white"
                >Get a Quote</a
              >
            </div>
            <!-- /#breadcrumbs -->
          </div>
        </div>

        <div
          class="bwp-spacer"
          data-desktop="36"
          data-mobi="30"
          data-smobi="30"
        ></div>
      </div>
    </div>
  </div>
</section>

<div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>

<section id="folio" class="folio-section">
  <div class="bwp-container">
    <div class="bwp-row">
      <div class="bwp-col-12 col">
        <div
          class="bwp-project"
          data-item="3"
          data-layout="grid"
          data-gaph="10"
          data-gapv="10"
        >
          <div class="bwp-row">
            <div class="bwp-heading">
              <h2 class="bwp-heading text-center">GALLERY</h2>
              <div class="bwp-line center margin-bottom-40"></div>
            </div>
          </div>

          <div id="projects" class="cbp">







            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/back-deck-roseville-ca.jpg"
                    alt="infinite canopy system charcoal"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Back Deck <br />
                    in Roseville
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/back-deck-roseville-ca.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->


            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/backyard-wood-pergola-roseville-ca.jpg"
                    alt="infinite canopy system charcoal sunbrella danville"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Backyard Wood Pergola <br />
                    in Roseville
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/backyard-wood-pergola-roseville-ca.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->


            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/poolside-elkhork-ca-1.jpg"
                    alt="infinite canopy system charcoal"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Poolside<br />
                    in Elkhork
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/poolside-elkhork-ca-1.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->


            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/poolside-elkhork-ca-2.jpg"
                    alt="infinite canopy system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Poolside<br />
                    in Elkhork
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/poolside-elkhork-ca-2.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->


            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/poolside-rocklin-ca.jpg"
                    alt="infinite canopy system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Poolside <br />
                    in Rocklin
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/poolside-rocklin-ca.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

















            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/charcoal-sunbrella-danville.jpg"
                    alt="infinite canopy system charcoal sunbrella danville"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Charcoal Sunbrella <br />
                    in Danville
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/charcoal-sunbrella-danville.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/football-team-colors-sunbrella-moraga.jpg"
                    alt="infinitecanopy system football team colors sunbrella moraga"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Football Team Colors Sunbrella <br />
                    in Moraga
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/football-team-colors-sunbrella-moraga.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-capitola.jpg"
                    alt="infinite canopy system mesh phifertex plus capitola"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Mesh Phifertex Plus <br />
                    in Capitola
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-capitola.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-cupertino.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Mesh Phifertex Plus <br />
                    in Cupertino
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-cupertino.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-livermore.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Mesh Phifertex Plus <br />
                    in Livermore
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-livermore.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-metalic-morgan-hill.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Mesh Phifertex Plus Metalic <br />
                    in Morgan Hill
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-metalic-morgan-hill.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-oakland.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Mesh Phifertex Plus <br />
                    in Oakland
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-oakland.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-santa-clara.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Mesh Phifertex Plus <br />
                    in Santa Clara
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-santa-clara.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-brentwood.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Mesh Phifertex Plus <br />
                    in Brentwood
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/mesh-phifertex-plus-brentwood.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/natural-sunbrella-los-gatos.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Natural Sunbrella <br />
                    in Los Gatos
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/natural-sunbrella-los-gatos.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/pergola-mount -sunbrella-linen-morgan-hill.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Pergola Mount Sunbrella <br />
                    Linen in Morgan Hill
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/pergola-mount -sunbrella-linen-morgan-hill.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/pergola-mount-sunbrella-natural-pleasant-hill.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Pergola Mount Sunbrella <br />
                    Natural in Pleasant Hill
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/pergola-mount-sunbrella-natural-pleasant-hill.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/pergola-mount-sunbrella-natural-san-jose.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Pergola Mount Sunbrella <br />
                    Natural in San Jose
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/pergola-mount-sunbrella-natural-san-jose.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/phifertex-plus-los-gatos.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Phifertex Plus <br />
                    in Los Gatos
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/phifertex-plus-los-gatos.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/phifertex-plus-orinda.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Phifertex Plus <br />
                    in Orinda
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/phifertex-plus-orinda.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/roof-mount-phifertex-plus-los-gatos.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Roof Mount Phifertex Plus <br />
                    in Los Gatos
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/roof-mount-phifertex-plus-los-gatos.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/roof-mount-phifertex-plus-los-gatos2.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Roof Mount Phifertex Plus <br />
                    in Los Gatos
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/roof-mount-phifertex-plus-los-gatos2.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/sunbrella-linen-piedmont.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Sunbrella Linen <br />
                    in Piedmont
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/sunbrella-linen-piedmont.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/sunbrella-linen-san-ramon.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Sunbrella Linen <br />
                    in San Ramon
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/sunbrella-linen-san-ramon.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/sunbrella-linen-scotts-valley.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Sunbrella Linen <br />
                    in Scotts Valley
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/sunbrella-linen-scotts-valley.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/sunbrella-natural-ocean-blue-color-cupertino.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Sunbrella Natural Ocean Blue Color <br />
                    in Cupertino
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/sunbrella-natural-ocean-blue-color-cupertino.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/sunbrells-pleasanton.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Sunbrells in Pleasanton</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/sunbrells-pleasanton.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/two-color-sunbrella-san-jose.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Two Color Sunbrella <br />
                    in San Jose
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/two-color-sunbrella-san-jose.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/wall-mount-phifertex-plus-san-jose.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">
                    Wall Mount Phifertex <br />
                    Plus in San Jose
                  </h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/wall-mount-phifertex-plus-san-jose.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/infinite-canopy-system/white-sunbrella-alameda.jpg"
                    alt="infinite-canopy-system"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">White Sunbrella in Alameda</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/infinite-canopy-system/white-sunbrella-alameda.jpg"
                  data-title="infinity canopy system"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->
          </div>
          <!-- /#projects -->
        </div>
        <!-- /.bwp-project -->

        <div
          class="bwp-spacer"
          data-desktop="110"
          data-mobi="70"
          data-smobi="40"
        ></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
