<!-- recent-work-gallery.njk-->
{% extends "layout.njk" %} 

{% block content %}

<!-- RECENT WORK PORTFOLIO -->
        <section id="folio" class="folio-section" style="background-color: #252525;">
            <div class="bwp-container">
                <div class="bwp-spacer" data-desktop="100" data-mobi="70" data-smobi="40"></div>

                <div class="bwp-row">
                    <div class="bwp-col-12 col">
                        <div class="bwp-heading">
                            <h2 class="bwp-heading text-center text-white">RECENT WORK</h2>
                            <div class="bwp-line center margin-bottom-40"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bwp-project" data-item="4" data-layout="grid" data-gaph="1" data-gapv="1">
                <div id="project-filter">
                    <div data-filter="*" class="cbp-filter-item">
                        <span>All</span>
                    </div>
                    <div data-filter=".retractables-awnings" class="cbp-filter-item">
                        <span>Retractable Awnings</span>
                    </div>
                    <div data-filter=".residential-awnings" class="cbp-filter-item">
                        <span>Residential Awnings</span>
                    </div>
                    <div data-filter=".backlit-awnings" class="cbp-filter-item">
                        <span>Back-Lit Awnings</span>
                    </div>
                    <div data-filter=".commercial-awnings" class="cbp-filter-item">
                        <span>Commercial Awnings</span>
                    </div>
                    <div data-filter=".solar-screen-shade" class="cbp-filter-item">
                        <span>Solar Screen Shade</span>
                    </div>
                </div><!-- /#project-filter -->


                
                   
                   <!-- Retractables Awnings -->
                <div id="projects" class="cbp">
                    <div class="cbp-item retractables-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/retractables-patio/retractables-1.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Retractable Awning</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/retractables-patio/retractables-1.jpg" data-title="Retractables Awnings 1">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                
                    <div class="cbp-item retractables-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/retractables-patio/retractables-2.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Retractable Awning</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/retractables-patio/retractables-2.jpg" data-title="Retractables Awnings 1">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
               
                    <div class="cbp-item retractables-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/retractables-patio/retractables-3.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Retractable Awning</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/retractables-patio/retractables-3.jpg" data-title="Retractables Awnings 1">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                
                    <div class="cbp-item retractables-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/retractables-patio/retractables-4.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Retractable Awning</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/retractables-patio/retractables-4.jpg" data-title="Retractables Awnings 1">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                
                    <div class="cbp-item retractables-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/retractables-patio/retractables-4.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Retractable Awning</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/retractables-patio/retractables-4.jpg" data-title="Retractables Awnings 1">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                
                <!-- / Retractables Awnings -->





                <!-- Residential Awnings -->
                    <div class="cbp-item residential-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/residential-awnings/residential-1.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Residential Awnings</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/residential-awnings/residential-1.jpg" data-title="Residential Awnings 2">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                    
                    <div class="cbp-item residential-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/residential-awnings/residential-2.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Residential Awnings</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/residential-awnings/residential-2.jpg" data-title="Residential Awnings 2">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                   
                    <div class="cbp-item residential-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/residential-awnings/residential-3.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Residential Awnings</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/residential-awnings/residential-3.jpg" data-title="Residential Awnings 2">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                    
                    <div class="cbp-item residential-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/residential-awnings/residential-4.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Residential Awnings</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/residential-awnings/residential-4.jpg" data-title="Residential Awnings 2">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                    
                    <div class="cbp-item residential-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/residential-awnings/residential-5.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Residential Awnings</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/residential-awnings/residential-5.jpg" data-title="Residential Awnings 2">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->

                <!-- Residential Awnings -->

                    




                <!-- Back-Lit Awnings -->
                    <div class="cbp-item backlit-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/backlit-awnings/backlit1.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Back-Lit Awnings</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/backlit-awnings/backlit1.jpg" data-title="Back-Lit Awnings 3">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                    
                    <div class="cbp-item backlit-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/backlit-awnings/backlit2.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Back-Lit Awnings</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/backlit-awnings/backlit2.jpg" data-title="Back-Lit Awnings 3">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                   
                    <div class="cbp-item backlit-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/backlit-awnings/backlit3.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Back-Lit Awnings</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/backlit-awnings/backlit3.jpg" data-title="Back-Lit Awnings 3">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                   
                    <div class="cbp-item backlit-awnings">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/backlit-awnings/backlit4.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Back-Lit Awnings</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/backlit-awnings/backlit4.jpg" data-title="Back-Lit Awnings 3">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->

                <!-- /Back-Lit Awnings -->





                <!-- Commercial Awnings -->
            <div class="cbp-item commercial-awnings">
            <div class="project-item">
                <div class="project-image">
                <img src="assets/img/recent-work/commercial-awnings/commerical-1.jpg" alt="image" />
                </div>
                <div class="project-detail">
                <h4 class="title">Commercial Awnings</h4>
                </div>
                <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/commercial-awnings/commerical-1.jpg" data-title="Commercial Awnings 4">
                <i class="fa fa-arrows-alt"></i>
                </a>
            </div>
            <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item commercial-awnings">
            <div class="project-item">
                <div class="project-image">
                <img src="assets/img/recent-work/commercial-awnings/commerical-2.jpg" alt="image" />
                </div>
                <div class="project-detail">
                <h4 class="title">Commercial Awnings</h4>
                </div>
                <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/commercial-awnings/commerical-2.jpg" data-title="Commercial Awnings 4">
                <i class="fa fa-arrows-alt"></i>
                </a>
            </div>
            <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item commercial-awnings">
            <div class="project-item">
                <div class="project-image">
                <img src="assets/img/recent-work/commercial-awnings/commerical-3.jpg" alt="image" />
                </div>
                <div class="project-detail">
                <h4 class="title">Commercial Awnings</h4>
                </div>
                <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/commercial-awnings/commerical-3.jpg" data-title="Commercial Awnings 4">
                <i class="fa fa-arrows-alt"></i>
                </a>
            </div>
            <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item commercial-awnings">
            <div class="project-item">
                <div class="project-image">
                <img src="assets/img/recent-work/commercial-awnings/commerical-4.jpg" alt="image" />
                </div>
                <div class="project-detail">
                <h4 class="title">Commercial Awnings</h4>
                </div>
                <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/commercial-awnings/commerical-4.jpg" data-title="Commercial Awnings 4">
                <i class="fa fa-arrows-alt"></i>
                </a>
            </div>
            <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item commercial-awnings">
            <div class="project-item">
                <div class="project-image">
                <img src="assets/img/recent-work/commercial-awnings/commerical-5.jpg" alt="image" />
                </div>
                <div class="project-detail">
                <h4 class="title">Commercial Awnings</h4>
                </div>
                <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/commercial-awnings/commerical-5.jpg" data-title="Commercial Awnings 4">
                <i class="fa fa-arrows-alt"></i>
                </a>
            </div>
            <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

        

            <div class="cbp-item commercial-awnings">
            <div class="project-item">
                <div class="project-image">
                <img src="assets/img/recent-work/commercial-awnings/commerical-7.jpg" alt="image" />
                </div>
                <div class="project-detail">
                <h4 class="title">Commercial Awnings</h4>
                </div>
                <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/commercial-awnings/commerical-7.jpg" data-title="Commercial Awnings 4">
                <i class="fa fa-arrows-alt"></i>
                </a>
            </div>
            <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

        <!-- / Commercial Awnings -->






        <!-- Solar Screen Shade -->
                    <div class="cbp-item solar-screen-shade">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/solar-screen-shade/solar-screen-shade-1.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Solar Sun Shade</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/solar-screen-shade/solar-screen-shade-1.jpg" data-title="Solar Sun Shade 4">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                    
                    <div class="cbp-item solar-screen-shade">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/solar-screen-shade/solar-screen-shade-2.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Solar Sun Shade</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/solar-screen-shade/solar-screen-shade-2.jpg" data-title="Solar Sun Shade 4">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                    
                    <div class="cbp-item solar-screen-shade">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/solar-screen-shade/solar-screen-shade-3.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Solar Sun Shade</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/solar-screen-shade/solar-screen-shade-3.jpg" data-title="Solar Sun Shade 4">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                    
                    <div class="cbp-item solar-screen-shade">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/solar-screen-shade/solar-screen-shade-4.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Solar Sun Shade</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/solar-screen-shade/solar-screen-shade-4.jpg" data-title="Solar Sun Shade 4">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
                    
                    <div class="cbp-item solar-screen-shade">
                        <div class="project-item">
                            <div class="project-image">
                                <img src="assets/img/recent-work/solar-screen-shade/solar-screen-shade-5.jpg" alt="image" />
                            </div>
                            <div class="project-detail">
                                <h4 class="title">Solar Sun Shade</h4>
                            </div>
                            <a class="project-zoom cbp-lightbox" href="assets/img/recent-work/solar-screen-shade/solar-screen-shade-5.jpg" data-title="Solar Sun Shade 4">
                                <i class="fa fa-arrows-alt"></i>
                            </a>
                        </div><!-- /.project-item -->
                    </div><!-- /.cbp-item -->
							<!-- / Solar Screen Shade -->
                    
                    
                </div><!-- /#projects -->
            </div><!-- /.bwp-project -->
        </section>


    <div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>



{% endblock %}
