<!-- retractable-patios.njk-->
{% extends "layout.njk" %} {% block content %}

<div id="featured-title" class="clearfix">
  <div id="featured-title-inner" class="bwp-container">
    <div class="featured-title-inner-wrap">
      <div class="featured-title-heading-wrap">
        <h1 class="featured-title-heading ">Retractable Patios</h1>
      </div>

      <div id="breadcrumbs">
        <div class="breadcrumbs-inner">
          <div class="breadcrumb-trail">
            <a href="index.html" class="trail-begin">Home</a>
            <span class="sep">/</span>
            <a href="index.html#products-section" class="trail-begin"
              >Products</a
            >
            <span class="sep">/</span>
            <span class="trail-end">Retractable Patios</span>
          </div>
        </div>
      </div>
      <!-- /#breadcrumbs -->
    </div>
  </div>
  <!-- /#featured-title-inner -->
</div>

<div id="main-content" class="site-main clearfix">
  <div class="bwp-container">
    <div class="bwp-row">
      <div class="bwp-col-12 col">
        <div class="project-media">
          <div
            class="project-slider single-slider"
            data-item1500="1"
            data-item1100="1"
            data-item800="1"
            data-item550="1"
            data-item320="1"
            data-layout="slider"
            data-gaph="10"
            data-gapv="10"
            data-arrows="true"
            data-bullets="false"
          >
            <div>
              <div>
                <img
                  src="assets/img/products/retractable-patios/retractpatiobanner.jpg"
                  alt="retractable patios banner"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="bwp-spacer"
          data-desktop="40"
          data-mobi="30"
          data-smobi="30"
        ></div>
      </div>

      <div class="bwp-col-12 col">
        <div class="bwp-heading">
          <h2
            style="text-transform: uppercase;"
            class="bwp-heading text-center"
          >
            What Are Retractable Patios?
          </h2>
          <div class="bwp-line center margin-bottom-40"></div>
        </div>

        <p>
          Sometimes you feel like some sun, sometimes you don’t. A retractable
          awning provides all the same advantages of a traditional awning, but
          it also gives you the option of choosing when you want to use it. This
          makes it great for sudden afternoon showers or the sweltering summer
          sun, which are so common here in the Bay Area. In addition to being a
          high-quality investment, our retractable awnings are also an aesthetic
          asset. You can select from a wide variety of colors, patterns, styles,
          textures, designs, and options to make sure that the one you choose
          will be the one that best complements your home or business. Every
          retractable awning that we install lends its intriguing look of
          quality and timeless sophistication while protecting your property,
          saving you money, and establishing your patio’s any-weather,
          any-season practicality.
        </p>
      </div>

      <!--<div class="bwp-col-4 col">
                    	<div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

						<h4>Project Description</h4>
						<ul class="bwp-list">
						<li><strong>Client:</strong>Lorem ipsum dolor sit amet</li>
						<li><strong>Location:</strong>Santa Clara, CA, 94017,</li>
						<li><strong>Owner:</strong>   David &amp; Smithg</li>
						</ul>
						<p class="margin-bottom-0">Sed facilisis lorem in orci bibendum ullamcorper. Mauris vitae augue elementum, sodales nulla a, semper ligula.</p>
                    </div>-->
    </div>
  </div>
</div>

<div class="bwp-container">
  <div class="bwp-row">
    <div class="bwp-col-12 col">
      <div class="arrow-down bounce">
        <a class="fa fa-arrow-down fa-2x" href="#folio"></a>
      </div>
    </div>
  </div>
</div>

{% include "partials/schedule-consultation-button.njk" %}

<div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>

<section id="folio" class="folio-section">
  <div class="bwp-container">
    <div class="bwp-row">
      <div class="bwp-col-12 col">
        <div
          class="bwp-project"
          data-item="3"
          data-layout="grid"
          data-gaph="10"
          data-gapv="10"
        >
          <div class="bwp-row">
            <div class="bwp-heading">
              <h2 class="bwp-heading text-center">GALLERY</h2>
              <div class="bwp-line center margin-bottom-40"></div>
            </div>
          </div>

          <div id="projects" class="cbp">
            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio1.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio1.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio2.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio2.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio3.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio3.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio4.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio4.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio5.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio5.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio6.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio6.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio7.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio7.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio8.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio8.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio9.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio9.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->

            <div class="cbp-item">
              <div class="project-item">
                <div class="project-image">
                  <img
                    src="assets/img/products/retractable-patios/retractpatio10.jpg"
                    alt="retractable patios"
                  />
                </div>
                <div class="project-detail">
                  <h4 class="title">Retractable Patios</h4>
                </div>
                <a
                  class="project-zoom cbp-lightbox"
                  href="assets/img/products/retractable-patios/retractpatio10.jpg"
                  data-title="Retractable Patios"
                >
                  <i class="fa fa-arrows-alt"></i>
                </a>
              </div>
              <!-- /.project-item -->
            </div>
            <!-- /.cbp-item -->
          </div>
          <!-- /#projects -->
        </div>
        <!-- /.bwp-project -->

        <div
          class="bwp-spacer"
          data-desktop="110"
          data-mobi="70"
          data-smobi="40"
        ></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
