<!-- solar-screen.njk-->
{% extends "layout.njk" %} 

{% block content %}

<div id="featured-title" class="clearfix">
            <div id="featured-title-inner" class="bwp-container">
                <div class="featured-title-inner-wrap">
                    <div class="featured-title-heading-wrap">
                        <h1 class="featured-title-heading ">Solar Screen Shades</h1>
                    </div>

                    <div id="breadcrumbs">
                        <div class="breadcrumbs-inner">
                            <div class="breadcrumb-trail">
                                <a href="index.html" class="trail-begin">Home</a>
                                <span class="sep">/</span>
                                <a href="index.html#products-section" class="trail-begin">Products</a>
                                <span class="sep">/</span>
                                <span class="trail-end">Solar Screen Shades</span>
                            </div>
                        </div>
                    </div><!-- /#breadcrumbs -->
                </div>
            </div><!-- /#featured-title-inner -->
        </div>

        <div id="main-content" class="site-main clearfix">
            <div class="bwp-container">
                <div class="bwp-row">
                    <div class="bwp-col-12 col">
						<div class='project-media'>
						    <div class="project-slider single-slider" data-item1500="1" data-item1100="1" data-item800="1" data-item550="1" data-item320="1" data-layout="slider" data-gaph="10" data-gapv="10" data-arrows="true" data-bullets="false">
						        <div>
						            <div>
						                <img src="assets/img/products/solar-screen-shades/solarscreenbanner.jpg" alt="image">
						            </div>
						        </div>
						    </div>
						</div>

						<div class="bwp-spacer" data-desktop="40" data-mobi="30" data-smobi="30"></div>
                    </div>

                    <div class="bwp-col-12 col">
						<!--<h3>The Details</h3>-->
            <h3>What Are Solar Screen Shades?</h3>

						<p>Shade sails or commonly referred to as tension structure are heavy-duty fabrics that filter out certain amounts of sun, depending on the specific use of the area to be shaded. Energy saving and environmental protection, making a restful, shady spot and unique vibrant style in your outdoor living areas. </p>
                            
                        <p>The shade sails manufactured by <i>Sunset Canvas &amp; Awning</i> are comprised of extended-life commercial-grade high-quality material. They are designed for longevity, and they resist tearing, fraying, sagging, or wearing thin. Shade Sails can effectively reduce heat on your patio, backyard, playground, park, deck, pool, camping, spa or commercial spaces as it provides excellent protection from the sun and its harmful UV radiation.</p>

                        <p>Exterior screens are multifunctional and retractable for use when you desire privacy and sun or insect screen protection. Combining pleasing aesthetics with advanced technology to increase the privacy of your home and create a comfortable, beautiful living environment. <i>Sunair</i>&reg; solar screens are offered in a variety of screen fabrics, as well as four different guide styles to allow complete customization. Installed with manual crank operation and SOMFY motorized systems with remote control operation. <i>Sunair</i>&reg; solar screens covers are available to protect openings up to 26′ wide (non cassette) with a split roller, and has up to a 16′ drop.</p>

                        <h4>Benefits of Retractable Solar Screens </h4>

                        <p><strong>Solar Shading:</strong> A solar shade from <i>Sunair</i>&reg; is the ideal solution for keeping sunlight at bay and at the same time enjoy its advantages. You can eliminate glare, and control the amount of light that enters the window or door while still keeping a view of the outside. Simply push a button and the optional motor lowers or retracting the shade. Our shades also protect your furniture, curtains, and floor coverings from UV damage.</p>

                        <div class="bwp-spacer" data-desktop="20" data-mobi="20" data-smobi="20"></div>

                        <div class="text-center">
                            <img style="width: 50%; max-width: 100%;" src="assets/img/products/solar-screen-shades/sunairframecolors.jpg">
                        </div>

                        <div class="bwp-spacer" data-desktop="40" data-mobi="30" data-smobi="30"></div>

                        <p><strong>Energy efficiency:</strong> A solar shade from <i>Sunair</i>&reg; can significantly reduce indoor temperature while lowering cooling costs by blocking the sun before it enters your home. Our fabrics effectively block up to 90% of solar heat rays when installed on the exterior of the window. Depending on the type of fabric used, you may realize a potential reduction in air-conditioning costs by as much 25% - 40%. </p>

                        <p><strong>Nine Standard Frame Colors:</strong>The <i>Sunair</i>&reg; model is available in nine standard powder-coat frame colors, the most in the industry. Over 200 custom "Ral" frame colors are available by special order.</p>

                    </div>

                    <!--<div class="bwp-col-4 col">
                    	<div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

						<h4>Project Description</h4>
						<ul class="bwp-list">
						<li><strong>Client:</strong>Lorem ipsum dolor sit amet</li>
						<li><strong>Location:</strong>Santa Clara, CA, 94017,</li>
						<li><strong>Owner:</strong>   David &amp; Smithg</li>
						</ul>
						<p class="margin-bottom-0">Sed facilisis lorem in orci bibendum ullamcorper. Mauris vitae augue elementum, sodales nulla a, semper ligula.</p>
                    </div>-->
                </div>
            </div>
        </div>

        



    <div class="bwp-container">
        <div class="bwp-row">
            <div class="bwp-col-12 col">
                <div class="arrow-down bounce">
                    <a class="fa fa-arrow-down fa-2x" href="#folio"></a>
                </div>
            </div>
        </div>
    </div>

{% include "partials/schedule-consultation-button.njk" %}


<div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>









<section id="folio" class="folio-section">
    <div class="bwp-container">
        <div class="bwp-row">
            <div class="bwp-col-12 col">
                <div class="bwp-project" data-item="3" data-layout="grid" data-gaph="10" data-gapv="10">
                   

                    <div class="bwp-row">
                        <div class="bwp-heading">
                                <h2 class="bwp-heading text-center">GALLERY</h2>
                                <div class="bwp-line center margin-bottom-40"></div>
                            </div>
                    </div>

                    <div id="projects" class="cbp">
                        
                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen1.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen1.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen2.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen2.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen3.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen3.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen4.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen4.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen5.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen5.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->


<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen6.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen6.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->


<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen7.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen7.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->


<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen8.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen8.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->


<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen9.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen9.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->


<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen10.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen10.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->


<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen11.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen11.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->


<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/solar-screen-shades/solarscreen12.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Solar Screen Shades</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/solar-screen-shades/solarscreen12.jpg" data-title="Solar Screen Shades">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->



                    </div><!-- /#projects -->
                </div><!-- /.bwp-project -->

                <div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>
            </div>
        </div>
    </div>
</section>



{% endblock %}