<!-- spear-point-ball-point.njk-->
{% extends "layout.njk" %} 

{% block content %}

<div id="featured-title" class="clearfix">
            <div id="featured-title-inner" class="bwp-container">
                <div class="featured-title-inner-wrap">
                    <div class="featured-title-heading-wrap">
                        <h1 class="featured-title-heading ">Spear Point &amp; Ball Point</h1>
                    </div>

                    <div id="breadcrumbs">
                        <div class="breadcrumbs-inner">
                            <div class="breadcrumb-trail">
                                <a href="index.html" class="trail-begin">Home</a>
                                <span class="sep">/</span>
                                <a href="index.html#products-section" class="trail-begin">Products</a>
                                <span class="sep">/</span>
                                <span class="trail-end">Spear Point &amp; Ball Point</span>
                            </div>
                        </div>
                    </div><!-- /#breadcrumbs -->
                </div>
            </div><!-- /#featured-title-inner -->
        </div>

        <div id="main-content" class="site-main clearfix">
            <div class="bwp-container">
                <div class="bwp-row">
                    <div class="bwp-col-12 col">
						<div class='project-media'>
						    <div class="project-slider single-slider" data-item1500="1" data-item1100="1" data-item800="1" data-item550="1" data-item320="1" data-layout="slider" data-gaph="10" data-gapv="10" data-arrows="true" data-bullets="false">
						        <div>
						            <div>
						                <img src="assets/img/products/spear-point-ball-point/spearpointballpointbanner.jpg" alt="image">
						            </div>
						        </div>
						    </div>
						</div>

						<div class="bwp-spacer" data-desktop="40" data-mobi="30" data-smobi="30"></div>
                    </div>

                    <div class="bwp-col-12 col">
						<!--<h3>The Details</h3>-->
                    <h3>What Are Spear Point &amp; Ball Point Awnings?</h3>

						<p>The timeless beauty of this custom type of awning creates a sophisticated design to complement your home or business architecture. Spear point awnings add a European elegance to any area but also creates a nice shaded area to entertain guest. </p>
							
							<p>Many historic and art districts in California prefer the old world style of a spear point awning. Attention to design, detail, craftsmanship and installation are all elements we consider to create elegant comfort or breath-taking spaces for you and your guests.</p>
							
                    </div>

                    <!--<div class="bwp-col-4 col">
                    	<div class="bwp-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>

						<h4>Project Description</h4>
						<ul class="bwp-list">
						<li><strong>Client:</strong>Lorem ipsum dolor sit amet</li>
						<li><strong>Location:</strong>Santa Clara, CA, 94017,</li>
						<li><strong>Owner:</strong>   David &amp; Smithg</li>
						</ul>
						<p class="margin-bottom-0">Sed facilisis lorem in orci bibendum ullamcorper. Mauris vitae augue elementum, sodales nulla a, semper ligula.</p>
                    </div>-->
                </div>
            </div>
        </div>

        



    <div class="bwp-container">
        <div class="bwp-row">
            <div class="bwp-col-12 col">
                <div class="arrow-down bounce">
                    <a class="fa fa-arrow-down fa-2x" href="#folio"></a>
                </div>
            </div>
        </div>
    </div>

{% include "partials/schedule-consultation-button.njk" %}


<div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>









<section id="folio" class="folio-section">
    <div class="bwp-container">
        <div class="bwp-row">
            <div class="bwp-col-12 col">
                <div class="bwp-project" data-item="3" data-layout="grid" data-gaph="10" data-gapv="10">
                   

                    <div class="bwp-row">
                        <div class="bwp-heading">
                                <h2 class="bwp-heading text-center">GALLERY</h2>
                                <div class="bwp-line center margin-bottom-40"></div>
                            </div>
                    </div>

                    <div id="projects" class="cbp">
                        
                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint1.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint1.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint2.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint2.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint3.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint3.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint4.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint4.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

                        <div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint5.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint5.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->



<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint6.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint6.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint7.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint7.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint8.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint8.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint9.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint9.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint10.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint10.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint11.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint11.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint12.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint12.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint13.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint13.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint14.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint14.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->

<div class="cbp-item">
                            <div class="project-item">
                                <div class="project-image">
                                    <img src="assets/img/products/spear-point-ball-point/spearpointballpoint15.jpg" alt="image" />
                                </div>
                                <div class="project-detail">
                                    <h4 class="title">Spear Point &amp; Ball Point</h4>
                                </div>
                                <a class="project-zoom cbp-lightbox" href="assets/img/products/spear-point-ball-point/spearpointballpoint15.jpg" data-title="Spear Point &amp; Ball Point">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div><!-- /.project-item -->
                        </div><!-- /.cbp-item -->




                    </div><!-- /#projects -->
                </div><!-- /.bwp-project -->

                <div class="bwp-spacer" data-desktop="110" data-mobi="70" data-smobi="40"></div>
            </div>
        </div>
    </div>
</section>



{% endblock %}