/* Reset Browsers
-------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{font-size:62.5%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}body{background:#fff;line-height:1;}article,aside,details,figcaption,figure,footer,header,main,nav,section{display:block}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0;}caption,th,td{font-weight:normal;text-align:left;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}blockquote,q{quotes:none}a:focus{outline:none}a:hover,a:active{outline:0}a img{border:0}img{max-width:100%;height:auto;}select{max-width:100%}

/* General
-------------------------------------------------------------- */
body,
button,
input,
select,
textarea { font-family: "Lato", sans-serif; color: #777; font-size: 1em; font-size: 14px; line-height: 1.86; background-color: #fff; }
img { height: auto; max-width: 100%; vertical-align: middle; -ms-interpolation-mode: bicubic }
p { margin: 0 0 24px; }
strong,
b { font-weight: bold; }
dfn,
cite,
em,
i,
blockquote { font-style: italic; }
blockquote { border: 0 solid #ffc925; border-left-width: 2px; font-size: 15px; margin: 0 0 30px; padding: 0 0 0 25px; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: ""; }
blockquote > p:last-child { margin-bottom: 0; }
blockquote cite { position: absolute; right: 0; bottom: 0; }
blockquote em,
blockquote i { font-style: normal; }
abbr,
acronym { border-bottom: 1px dotted #d1d1d1; cursor: help; }
mark,
ins { background-color: #cef7fb; text-decoration: none; }
sup,
sub { font-size: 75%; height: 0; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -6px; }
sub { bottom: -3px; }
small { font-size: 75%; }
big { font-size: 125%; }
address { font-style: italic; margin: 0 0 20px; }
code,
kbd,
tt,
var,
samp,
pre { font-family: Inconsolata, monospace; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; background: #f9f9f9; border: 1px solid #e1e1e1; border-radius: 0; height: auto; margin: 0 0 20px; overflow-x: auto; padding: 20px; }

/* Elements
-------------------------------------------------------------- */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*,
*:before,
*:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
hr { background-color: #f6f6f6; border: 0; height: 1px; margin-bottom: 20px; }

/* List */
ul,
ol { padding: 0; margin: 0 0 20px 30px; }
ul { list-style: disc; }
ol { list-style: decimal; margin-left: 27px; }
li > ul,
li > ol { margin-bottom: 0; }
dl { margin: 0 0 30px; }
dt { font-weight: bold; }
dd { margin: 0 0 30px; }
del { filter: alpha(opacity=80); opacity: 0.8;}

/* Table */
table,
th,
td { border: 1px solid #f6f6f6; }
table { border-collapse: separate; border-spacing: 0; border-width: 1px 0 0 1px; margin: 0 0 30px; table-layout: fixed; width: 100%; }
caption, th, td { font-weight: normal; text-align: left; }
th { border-width: 0 1px 1px 0; font-weight: bold; }
td { border-width: 0 1px 1px 0; }
th,
td { padding: 5px; }

/* Media */
embed,
iframe,
object,
video { margin-bottom: 20px; max-width: 100%; vertical-align: middle; }
p > embed,
p > iframe,
p > object,
p > video { margin-bottom: 0; }

/* Accessibility - Text meant only for screen readers */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }

/* Forms
-------------------------------------------------------------- */
/* Fixes */
button,
input { line-height: normal; }
button, input, select, textarea { font-size: 100%; line-height: inherit; margin: 0; vertical-align: baseline; }
input,
textarea { width: 100%; max-width: 100%; -webkit-appearance: none; background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */ }
textarea { overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */ vertical-align: top; /* Improves readability and alignment in all browsers */ }
input[type="checkbox"] { display: inline; }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { line-height: 1; cursor: pointer; -webkit-appearance: button; border: 0; }
input[type="checkbox"],
input[type="radio"] { padding: 0; /* Addresses excess padding in IE8/9 */ }
input[type="search"] { -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */ }
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */ -webkit-appearance: none; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */ }

/* Remove chrome yellow autofill */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset }

/* Rurn off number spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

/* Reset search styling */
input[type="search"] { outline: 0 }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none }

/* Input normal */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] { border: 1px solid #f1f1f1; padding: 11px 16px; line-height: inherit; width: 100%; background-color: #f7f7f7; margin-bottom: 30px; border-radius: 0; height: auto; -webkit-appearance: none; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: border ease .238s; -moz-transition: border ease .238s; transition: border ease .238s; }

/* Input focus */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus { border-color: #a1a1a1; outline: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* Button */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { 
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
	background-color: #ffc925; color: #fff; font-family: "Montserrat", sans-serif; letter-spacing: 2px; font-size: 13px; padding: 18px 37px 17px; text-transform: uppercase; display: inline-block; -webkit-appearance: none; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }

/* Button hover + focus */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus { outline: 0; filter: alpha(opacity=85); opacity: 0.85; }

/* Placeholder color */
::-webkit-input-placeholder { color: #c1c1c1; }
:-moz-placeholder { color: #c1c1c1; }
::-moz-placeholder { color: #c1c1c1; opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */ }
:-ms-input-placeholder { color: #c1c1c1; }


/* Links */
a { color: #ffc925; outline: 0; text-decoration: none; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }

a:hover,
a:focus,
a:active { outline: 0; color: #3f3f3f; text-decoration: none }

/* Typography
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 { font-family: "Montserrat", sans-serif; color: #252525; line-height: 1.5; margin: 0 0 10px; text-rendering: optimizeLegibility; }

h1 { font-size: 2.142em; }
h2 { font-size: 1.857em; }
h3 { font-size: 1.571em; }
h4 { font-size: 1.285em; }
h5 { font-size: 1.142em; }
h6 { font-size: 1.071em; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: inherit }

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover { text-decoration: none }

/* Extra classes
-------------------------------------------------------------- */
.display-none, .hidden { display: none }
.display-block { display: block }
.display-inline { display: inline }
.text-center { text-align: center !important }
.text-right { text-align: right !important }
.text-left { text-align: left !important }
.text-white { color: #fff !important; }
.text-gray { color: #aeaeae !important; }
.margin-bottom-0 { margin-bottom: 0px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-25 { margin-bottom: 25px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-35 { margin-bottom: 35px; }
.margin-bottom-40 { margin-bottom: 40px; }
.margin-bottom-45 { margin-bottom: 45px; }
.margin-bottom-50 { margin-bottom: 50px; }
.margin-bottom-55 { margin-bottom: 55px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-bottom-65 { margin-bottom: 65px; }
.margin-bottom-70 { margin-bottom: 70px; }
.margin-bottom-75 { margin-bottom: 75px; }
.margin-bottom-80 { margin-bottom: 80px; }
.margin-bottom-85 { margin-bottom: 85px; }
.margin-bottom-90 { margin-bottom: 90px; }
.margin-bottom-95 { margin-bottom: 95px; }
.margin-bottom-100 { margin-bottom: 100px; }

/* Grid
-------------------------------------------------------------- */
/* Clearfix */
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after,
.bwp-container:before,
.bwp-container:after,
.bwp-row:before,
.bwp-row:after { clear: both; display: table; line-height: 0; content: ""; }
.clearfix:after,
.bwp-container:after,
.bwp-row:after { clear: both; }

.bwp-container { width: 1170px; margin: 0 auto; max-width: 90%; }

.bwp-row { margin: 0 -15px }
.bwp-row .col { padding-left: 15px; padding-right: 15px; }
.bwp-row .bwp-col-12 { float: none }

@media (min-width: 992px) {
	.bwp-row .col { float: left; }
	.bwp-col-12 { width: 100%; }
	.bwp-col-11 { width: 91.66666667%; }
	.bwp-col-10 { width: 83.33333333%; }
	.bwp-col-9 { width: 75%; }
	.bwp-col-8 { width: 66.66666667%; }
	.bwp-col-7 { width: 58.33333333%; }
	.bwp-col-6 { width: 50%; }
	.bwp-col-5 { width: 41.66666667%; }
	.bwp-col-4 { width: 33.33333333%; }
	.bwp-col-3 { width: 25%; }
	.bwp-col-2 { width: 16.66666667%; }
	.bwp-col-1 { width: 8.33333333%; }
}

/* Gutter */
.bwp-row.gutter-0 { margin: 0; }
.bwp-row.gutter-0 > .col { padding: 0; }
.bwp-row.gutter-5 { margin-left: -2.5px; margin-right: -2.5px; }
.bwp-row.gutter-5 > .col { padding-left: 2.5px; padding-right: 2.5px}
.bwp-row.gutter-10 { margin-left: -5px; margin-right: -5px; }
.bwp-row.gutter-10 > .col { padding-left: 5px; padding-right: 5px;}
.bwp-row.gutter-15 { margin-left: -7.5px; margin-right: -7.5px; }
.bwp-row.gutter-15 > .col { padding-left: 7.5px; padding-right: 7.5px;}
.bwp-row.gutter-20 { margin-left: -10px; margin-right: -10px; }
.bwp-row.gutter-20 > .col { padding-left: 10px; padding-right: 10px;}
.bwp-row.gutter-25 { margin-left: -12.5px; margin-right: -12.5px; }
.bwp-row.gutter-25 > .col { padding-left: 12.5px; padding-right: 12.5px;}
.bwp-row.gutter-30 { margin-left: -15px; margin-right: -15px; }
.bwp-row.gutter-30 > .col { padding-left: 15px; padding-right: 15px;}
.bwp-row.gutter-35 { margin-left: -17.5px; margin-right: -17.5px; }
.bwp-row.gutter-35 > .col { padding-left: 17.5px; padding-right: 17.5px;}
.bwp-row.gutter-40 { margin-left: -20px; margin-right: -20px; }
.bwp-row.gutter-40 > .col { padding-left: 20px; padding-right: 20px;}
.bwp-row.gutter-45 { margin-left: -22.5px; margin-right: -22.5px; }
.bwp-row.gutter-45 > .col { padding-left: 22.5px; padding-right: 22.5px;}
.bwp-row.gutter-50 { margin-left: -25px; margin-right: -25px; }
.bwp-row.gutter-50 > .col { padding-left: 25px; padding-right: 25px;}